<header class="container-fluid navbar-wrapper admin">
	<div class="row height-100">
		<div class="col-sm-12 height-100">
			<a href="javascript:void(0)" class="back-to-home" title="Back to Superadmin" ng-if="sessionInfo.RoleID === 1" ng-click="NavigateToSuperadmin();">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
			</a>

			<div class="main-logo-wrapper">
				<a href="javascript:void(0)" ui-sref=".analysis">
					<img src="content/img/logo.png" alt="main-logo" class="img-width-auto">
				</a>
			</div>

			<div class="menu-wrapper">
				<a href="javascript:void(0)" ui-sref=".userlist" ui-sref-active="q_active" ng-class="{'q_active':sessionInfo.toState.includes('addnewuser')}">
                    User List
                </a>
				<a href="javascript:void(0)" ui-sref=".userroles" ui-sref-active="q_active" ng-class="{'q_active':sessionInfo.toState.includes('addrole')}">
                    User Roles
                </a>
                <a href="javascript:void(0)" ui-sref=".divisions" ui-sref-active="q_active"
                ng-class="{'q_active':(sessionInfo.toState.includes('add_division')) || (sessionInfo.toState.includes('map_product'))}">
                    Divisions
                </a>
                <a href="javascript:void(0)" ui-sref=".products" ui-sref-active="q_active">
                    Products
                </a>
                <a href="javascript:void(0)" ui-sref=".brandgroup" ui-sref-active="q_active" ng-class="{'q_active':sessionInfo.toState.includes('addbrandgroup')}">
                    Brand Group
                </a>
			</div>

			<div class="right-wrapper">
				<div class="sub-logo-wrapper vertical-middle-relative">
					<img src="{{sessionInfo.LogoFileName}}" class="img-width-auto">
				</div>

				<div class="dropdown user-menu vertical-middle-relative">
					<div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-hidden="true">
						<img src="{{sessionInfo.ProfileImage}}" class="img-resp">
						<span class="icon glyphicon glyphicon-triangle-bottom"></span>
					</div>
					<div class="dropdown-menu dropdown-menu-right tab-actions-pop">
						<span class="glyphicon glyphicon-triangle-top arrow-top" aria-hidden="true"></span>
						<div>
							<a class="dropdown-item" href="javascript:void(0)" ui-sref="admin.userprofile">Profile</a>
							<a class="dropdown-item" href="javascript:void(0)" ng-click="openConfirmationModal();">Change Password</a>
							<a class="dropdown-item" href="javascript:void(0)" ng-click="logoutSession();">Logout</a>
						</div>
					</div>
				</div>

				<div class="user-info vertical-middle-relative">
                	Welcome <span class="title">{{sessionInfo.UserName}}</span>
                    <div class="sub-title"><span class="">{{(sessionInfo.CompanyRoleName !== "") ? sessionInfo.CompanyRoleName : ((sessionInfo.RoleID === 1) ? "Superadmin" : "Admin") }}</i></div>
            	</div>
            	<div class="clear-float-both"></div>
			</div>

			<div class="clear-float-both"></div>
		</div>
	</div>
</header>


<div class="mobile-menu-left-overlay"></div>

<div class="loader-backdrop">
	<div class="loader-div">
		<img src="content/img/Preloader_9.gif" alt="loader_image">
		<div>Loading data</div>
	</div>
</div>

<!-- Change password modal starts -->
<script type="text/ng-template" id="changePasswordModal.html">
	<div class="custom-modal">
        <div class="modal-content">
        	<div class="modal-header row">
        		<h4 class="title">Change Password</h4>
        		<kendo-button class="close-icon" ng-click="dismissModal()"><i class="fa fa-times fa-lg" aria-hidden="true"></i></kendo-button>
        	</div>
	        <div class="modal-body row">
		        <div class="col-sm-12">
			        <div class="row">
                        <form class="form-horizontal col-sm-12">
							<div class="form-group row">
								<label for="oldPassword" class="col-sm-3 control-label">Old Password</label>
								<div class="col-sm-9">
									<input type="password" class="form-control" id="oldPassword" ng-model="passwords.OldPassword">
								</div>
							</div>
							<div class="form-group row">
								<label for="newPassword" class="col-sm-3 control-label">New Password</label>
								<div class="col-sm-9">
									<input type="password" class="form-control" id="newPassword" ng-model="passwords.NewPassword">
								</div>
							</div>
							<div class="form-group row">
								<label for="confirmPassword" class="col-sm-3 control-label">Confirm Password</label>
								<div class="col-sm-9">
									<input type="password" class="form-control" id="confirmPassword" ng-model="ConfirmPassword">
									<div class="error-msg" ng-if="showError">Passwords mismatched</div>
								</div>
							</div>
                        </form>
			        </div>
		        </div>
		        <div class="col-sm-12 text-center">
		        	<div class="col-sm-12 text-center">
		        		<kendo-button type="button" ng-click="setNewPassword()">Set New Password</kendo-button>
		        	</div>
		        </div>
	        </div>
   		</div>
   	</div>
</script>
<!-- Change password modal ends -->
