<div class="page-content main-page-content-load" style="padding-left: 0px;padding-top: 80px;background-color: #F6FAFB;padding-right: 0px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 p-l-0 p-r-0" style="background-color: #FFF">
            	
                <div class="header_content">
                    <div class="col-xl-10 add_page_heading">
                        <div class="site-content-page-heading p-t-1"><span style="color:#222">Add Brand Group</span></div>
                    </div>

                    <div class="col-xl-2" style="border-bottom:1px solid #ddd;padding-bottom: 9px">
                        <a href="javascript:void(0)" ui-sref="admin.brandgroup">
                            <div class="col-md-6 m-t-2 filter-section-title p-l-2 p-r-0 back-link-text">Back To List</div>
                            <div class="col-md-2 m-t-2 back-link-icon"><i class="glyphicon glyphicon-triangle-left"></i></div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <form class="col-xl-12" name="masterForm" ng-submit="saveBrandGroup()">
                    <div class="card-block col-xl-10 offset-xl-1">
                    	
                        <div class="row margin-row-team">
                        	<div class="col-lg-4 label_sub">
                                <fieldset class="form-group">
                                    <label class="form-label filter-section-title" for="division">Company Divisions</label>
                                    <select kendo-combo-box
									 k-placeholder="'Select Company Division'"
									 k-data-source="divisionColl"
									 k-data-text-field="'DivisionName'"
									 k-data-value-field="'DivisionID'"
									 k-auto-bind="true"
									 k-value-primitive="true"
									 k-min-length="1"
									 k-ng-model="addBrandGroup.DivisionID"
									 k-filter="'contains'"
									 k-on-change="FetchDivisionBrand()"
									 class="width-100" name="division">
									</select>
                                </fieldset>
                            </div>
                            
                            <div class="col-lg-4 label_sub">
                                <fieldset class="form-group">
                                    <label class="form-label filter-section-title" for="rolename">Brand Group Name</label>
                                    <input type="text" class="k-textbox input-box-custom" name="rolename" placeholder="Brand Group Name" maxlength="30" ng-model="addBrandGroup.BrandGroupName">
                                </fieldset>
                            </div>
                            
                            <div class="col-lg-4 label_sub">
                                <fieldset class="form-group">
                                    <label class="form-label filter-section-title" for="parentrole">Brands</label>
                                    <select class="mapview_multiselect" kendo-multi-select k-data-source="brandColls" k-data-text-field="'BrandName'"
									k-data-value-field="'BrandID'" k-value-primitive="true" k-ng-model="selectedBrands" k-placeholder="'All'"></select>
                                </fieldset>
                            </div>
                        </div>

                        <div class="row m-t-2 m-b-2">
                            <div class="col-lg-12">
                                <fieldset class="form-group">
									<kendo-button class="k-primary pull-right btn-save-team-name">Save Brand Group</kendo-button>
                                </fieldset>
                            </div>
                    	</div> <!--.card block-->
        			</div><!--col-12-->
                	<div class="clearfix"></div>
            	</form>
            	
    		</div><!--.row-->
		</div>
    </div><!--.container-fluid-->
</div><!--.page-content-->