<div class="page-content main-page-content-load" style="padding-left: 0px;padding-top: 80px;background-color: #F6FAFB;padding-right: 0px;">
    <div class="container-fluid">
            <div class="row">

                <div class="col-xl-12 p-l-0 p-r-0" style="background-color: #FFF">
                    <div class="header_content">
                        <div class="col-xl-10 add_page_heading" style="">
                            <div class="site-content-page-heading p-t-1 col-xl-6"><span style="color:#222">Add New User</span></div>
                        </div>

                        <div class="col-xl-2" style="border-bottom:1px solid #ddd;padding-bottom: 9px">
                            <a href="javascript:void(0)" ui-sref="admin.userlist">
                                <div class="col-md-6 m-t-2 filter-section-title p-l-2 p-r-0 back-link-text">Back To List</div>
                                <div class="col-md-2 m-t-2 back-link-icon"><i class="glyphicon glyphicon-triangle-left"></i></div>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-xl-12">
                        <div class="card-block col-xl-10 offset-xl-1">
                            <div class="row">
                                <div class="col-lg-12 label_head">
                                    <fieldset class="form-group">
                                        <div class="col-xl-10 p-l-3 m-l-1">
                                            <label class="form-label text-uppercase p-r-2 p-l-3 font-18 text-color-grey" for="exampleInput">User Information</label>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 label_sub">
                                        <div class="imageBrowseWrapper">
    										<div class="title">User Image</div>
    										<div class="img-wrapper">
    											<img src="{{imgDataUrl}}" class="img-resp">
    										</div>
    										<div>
    											<kendo-button type="button" ng-click="openImgChangeModal()" class="browse-button btn-violet">Upload Image</kendo-button>
    										</div>
    									</div>
                                    </div>


                                    <div class="col-lg-4 col-lg-offset-2 label_sub">
                                    	<fieldset class="form-group">
                                            <label class="form-label filter-section-title" for="">User Name</label>
    										<input type="text" class="k-textbox input-box-custom" ng-model="user.UserName" ng-readonly="user.UserID !== undefined" placeholder="User name..." />
                                        </fieldset>

                                        <fieldset class="form-group" ng-if="user.UserID === undefined">
                                            <label class="form-label filter-section-title" for="">Password</label>
    										<input type="password" class="k-textbox input-box-custom" ng-model="user.Password" placeholder="Password..." />
                                        </fieldset>

                                        <fieldset class="form-group" ng-if="(divisionColl !== undefined) && (divisionColl.length > 1)">
    			                            <label class="form-label filter-section-title" for="">Divisions</label>
    										<select kendo-combo-box
    											 k-placeholder="'Select Division'"
    											 k-data-source="divisionColl"
    											 k-data-text-field="'DivisionName'"
    											 k-data-value-field="'DivisionID'"
    											 k-auto-bind="true"
    											 k-value-primitive="true"
    											 k-min-length="2"
    											 k-ng-model="user.DivisionID"
    											 k-filter="'contains'"
    											 k-on-change="FetchUserRolesByCompany()"
    											 class="width-100">
    										</select>
    			                        </fieldset>

                                        <fieldset class="form-group">
                                            <label class="form-label filter-section-title" for="">Role</label>
    										<select kendo-combo-box
    											k-placeholder="'Select Designation'"
    											k-data-source="RolesColl"
    											k-data-text-field="'RoleName'"
    											k-data-value-field="'CompanyUserRoleID'"
    											k-value-primitive="true"
    											k-ng-model="user.CompanyRoleID"
    											k-auto-bind="true"
    											k-min-length="2"
    											k-filter="'contains'"
    											k-on-change="FetchReportingPerson()"
    											class="width-100">
    										</select>
                                        </fieldset>
                                    </div>

                                    <div class="col-lg-4 col-lg-offset-2 label_sub">
                                        <fieldset class="form-group">
                                            <label class="form-label filter-section-title" for="exampleInput">Reporting Person</label>
    										<select kendo-combo-box
    											 k-placeholder="'Select Reporting Person'"
    											 k-data-source="ReportingPersons"
    											 k-data-text-field="'title'"
    											 k-data-value-field="'id'"
    											 k-value-primitive="true"
    											 k-ng-model="user.ReportingManagerID"
    											 k-auto-bind="true"
    											 k-min-length="2"
    											 k-filter="'contains'"
    											 class="width-100">
    									 	</select>
                                        </fieldset>

                                        <fieldset class="form-group">
                                            <label class="form-label filter-section-title" for="email">Email</label>
                                            <input type="text" class="k-textbox input-box-custom" id="email" ng-model="user.Email" placeholder="Email id..." maxlength="100" >
                                        </fieldset>

                                        <fieldset class="form-group">
                                            <label class="form-label filter-section-title" for="phone">Mobile No.</label>
                                            <input type="number" class="k-textbox input-box-custom no-spinner" id="phone" ng-model="user.MobileNo" placeholder="Mobile No..." maxlength="15" >
                                        </fieldset>

                                        <fieldset class="form-group">
                                            <label class="form-label filter-section-title" for="Pincode">Pincode</label>
                                            <input type="number" class="k-textbox input-box-custom no-spinner" id="Pincode" ng-model="user.Pincode" placeholder="Pincode..." maxlength="6" >
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 label_head">
                                        <h5 class="with-border m-t-lg"></h5>
                                    </div>

                                    <div class="col-lg-4 col-lg-offset-2 label_sub">
                                        <fieldset class="row form-group">
                                            <div class="col-xl-10 p-l-3 m-l-3">
                                                <label class="form-label text-uppercase p-r-2 p-l-3 font-18 text-color-grey">Locations</label>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="col-lg-4 label_head">
                                        <fieldset class="form-group">
                                            <label class="form-label filter-section-title" for="exampleInput">Locations</label>
                                            <select class="mapview_multiselect" kendo-multi-select k-data-source="accessRightData.CityList" k-data-text-field="'CityName'" k-data-value-field="'CityID'"
                                                k-value-primitive="true" k-ng-model="user.UserAccessRights.CityIDs"></select>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="row" ng-if="!(accessRightData.IsAllAccess)">
                                    <div class="col-lg-12 label_head">
                                        <h5 class="with-border m-t-lg"></h5>
                                    </div>

                                    <div class="col-lg-4 col-lg-offset-2 label_sub">
                                        <fieldset class="row form-group">
                                            <div class="col-xl-10 p-l-3 m-l-3">
                                                <label class="form-label text-uppercase p-r-2 p-l-3 font-18 text-color-grey">Access Rights</label>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="col-lg-4">&nbsp;</div>
                                    <div class="col-lg-8">
                                        <!-- Two sided multiselect starts -->
                                        <div class="row bothsided-select-directive">
                                            <div class="col-sm-5">
                                                <div class="list-title">Unselected Item</div>
                                                <div class="search-box custom-group">
                                                    <input type="text" class="form-control" ng-model="searchQueryLeft" placeholder="Search...">
                                                </div>
                                                <div class="searched-list">
                                                    <!-- <div slimscroll="rootScope.slimScrollOptions"> -->
                                                        <div class="list-item" ng-repeat="item in leftArray | filter:{'TherapyName':searchQueryLeft}"
                                                        ng-click="reserveElement('left', item.TherapyCode)" ng-class="{'selected-item':(leftBag.indexOf(item.TherapyCode) > -1)}">
                                                            <span>{{item.TherapyName}}</span>
                                                        </div>
                                                    <!-- </div> -->
                                                </div>
                                            </div>

                                            <div class="col-sm-2 move-controls">
                                                <div class="row block">
                                                    <div class="col-xs-12 text-center">
                                                        <button type="button" class="control" ng-click="moveElements('left', leftArray, rightArray);"
                                                        ng-disabled="(leftBag.length < 1)">
                                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                    <div class="col-xs-12 text-center m-t-1">
                                                        <button type="button" class="control" ng-click="moveElements('right', rightArray, leftArray);"
                                                        ng-disabled="(rightBag.length < 1)">
                                                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-5">
                                                <div class="list-title">Selected Item</div>
                                                <div class="search-box custom-group">
                                                    <input type="text" class="form-control" ng-model="searchQueryRight" placeholder="Search...">
                                                </div>
                                                <div class="searched-list">
                                                    <!-- <div slimscroll="rootScope.slimScrollOptions"> -->
                                                        <div class="list-item" ng-repeat="item in rightArray | filter:{'TherapyName':searchQueryRight}"
                                                        ng-click="reserveElement('right', item.TherapyCode)" ng-class="{'selected-item':(rightBag.indexOf(item.TherapyCode) > -1)}">
                                                            <span>{{item.TherapyName}}</span>
                                                        </div>
                                                    <!-- </div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Two sided multiselect ends -->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 label_head">
                                        <h5 class="with-border m-t-lg"></h5>
                                    </div>

                                    <div class="col-lg-4">&nbsp;</div>
                                    <div class="col-lg-4">
                                        <fieldset class="form-group">
                                            <div class="checkbox">
                                                <input type="checkbox" id="action" ng-model="user.Active" ng-true-value="1" ng-false-value="0">
                                                <label for="action">Active</label>
                                            </div>
                                        </fieldset>

                                        <fieldset class="form-group">
                                        	<kendo-button class="k-primary btn-save-team-name width-100-imp" ng-click="interceptToUploadImage()">Save User</kendo-button>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
	        		</div>

                </div>
        </div><!--.row-->

    </div><!--.container-fluid-->
</div><!--.page-content-->


<!-- Image Change modal starts -->
<script type="text/ng-template" id="imgChangeModal.html">
	<div class="custom-modal">
        <div class="modal-content">
        	<div class="modal-header row">
        		<h4 class="title">Upload Media</h4>
        		<kendo-button class="close-icon" ng-click="dismissModal()"><i class="fa fa-times fa-lg" aria-hidden="true"></i></kendo-button>
        	</div>
	        <div class="modal-body row">
		        <div class="col-sm-12">
			        <div class="row">
                        <div class="col-xl-12 text-center">
                        	<div class="imgFrame">
                            	<img ng-src="{{parent.imgUrl}}" class="img-resp">
                            </div>
                            <div class="btn btn-browse customized-file form-control width-25">
		                    	<input class="form-control" type="file" placeholder="File" name="image-file" id="image-file" accept="image/*"
		                    		ng-model="parent.ProfileImage" file-input="" ng-change="parent.imageView()">
		                    	<label class="file-label btn-purple" for="image-file">Browse to upload</label>
		                    </div>
                        </div>
			        </div>

			        <div class="row m-y-1 fancy-divider">
			        	<div class="col-xl-12">
				        	<div class="block width-45"><hr/></div>
				        	<div class="block width-10">OR</div>
				        	<div class="block width-45"><hr/></div>
				        </div>
			        </div>

			        <div class="row">
			        	<div class="col-xl-12">Pick an Avatar</div>
			        	<div class="col-xl-12 avatarBox">
			        		<div class="row">
			        			<div class="col-xl-4 wrapper" ng-repeat="item in parent.avatarsList" ng-click="parent.avatarIsSelected(item)">
			        				<img src="{{parent.baseURL + 'avatars/' + item}}" class="img-resp">
			        			</div>
			        		</div>
			        	</div>
			        </div>

			        <div class="row footer">
			        	<kendo-button type="button" ng-click="closeModal()" ng-disabled="!(parent.imgBrowsed) && !(parent.avatarSelected)">Confirm</kendo-button>
			        </div>
		        </div>
	        </div>
   		</div>
   	</div>
</script>
<!-- Image Change modal ends -->
