<div class="page-content main-page-content-load" style="padding-left: 0px;padding-top: 80px;background-color: #F6FAFB;padding-right: 0px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 p-l-0 p-r-0" style="background-color: #FFF">
            	
                <div class="header_content">
                    <div class="col-xl-10 add_page_heading">
                        <div class="site-content-page-heading p-t-1"><span style="color:#222">Add a Team</span></div>
                    </div>

                    <div class="col-xl-2" style="border-bottom:1px solid #ddd;padding-bottom: 18px">
                        <a href="javascript:void(0)" ui-sref="admin.teamspermissions">
                            <div class="col-md-6 m-t-2 filter-section-title p-l-2 p-r-0 back-link-text">Back To List</div>
                            <div class="col-md-2 m-t-2 back-link-icon"><i class="glyphicon glyphicon-triangle-left"></i></div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-xl-12">
                    <div class="card-block col-xl-10 offset-xl-1">
                    	
                        <div class="row margin-row-team">
                            <div class="col-lg-6 label_sub">
                                <fieldset class="form-group">
                                    <label class="form-label filter-section-title" for="exampleInput">Team Name</label>
                                    <input type="text" class="k-textbox input-box-custom" id="name" placeholder="General Manager" maxlength="20">

                                </fieldset>
                            </div>
                            <div class="col-lg-6 label_sub">
                                <fieldset class="form-group">
                                    <label class="form-label filter-section-title" for="exampleInput">Sales Target</label>
                                    <input type="text" class="k-textbox input-box-custom" id="sales" placeholder="20,00,00,000" maxlength="20">
                                </fieldset>
                            </div>
                        </div>

                        <div class="row m-t-2 m-b-2">
                            <div class="card-block card-block-add-team">
                                <div class="card-text">
									<div class="margin-bottom-20 border-0 k-team"  kendo-grid k-data-source="people"  k-columns="gridColumns" ></div>
                            	</div>
                        	</div>
                            <div class="col-lg-12">
                                <fieldset class="form-group">
									<kendo-button class="k-primary pull-right btn-save-team-name" ng-click="onClick1()">Save Team name and Permissions</kendo-button>
                                </fieldset>
                            </div>
                    	</div> <!--.card block-->
        			</div><!--col-12-->
                	<div class="clearfix"></div>
            	</div>
            	
    		</div><!--.row-->
		</div>
    </div><!--.container-fluid-->
</div><!--.page-content-->