<div class="page-content main-page-content competitive-analysis">
    <div class="container-fluid main-container-fluid">
        <div class="row">

        	<!-- tabs-nav -->
            <section id="tabTable" class="tabs-section tabPanelFixed1">
                <div class="tabs-section-nav tabs-section-nav-inline pos-none">
                    <ul class="nav" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" ng-click="defaultPrevention($event);" role="tab">
	                            Team Performance
	                        </a>
                        </li>
                        <li class="nav-item selected">
                            <a class="nav-link active" ng-click="showTab('#tabs-4-tab-1', '#tabs-4-tab-2')" role="tab">
                                Bench Mark
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

			<!-- tab-content begins -->
			<div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="tabs-4-tab-1">
                    <div class="filter-area">
                        <form class="">
                            <div class="filter-section main-page-content-load" style="display:none" >
                                <p class="filter-section-title">Field Heads</p>
                                <div class="col-md-12 p-b-1 p-l-0">
									<select kendo-combo-box
										k-placeholder="'All Head India Field'"
										k-data-text-field="'field'"
										k-auto-bind="true"
										k-min-length="3"
                						k-filter="'contains'"
										k-data-source="competCombo1"
										class="width-100">{{ competCombo1.field }}
									</select>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="filter-section">
                                <p class="filter-section-title">Team Information</p>
                                <ul class="team-info">
                                    <li>Field Head India <span class="label label-pill label-primary"> 4 </span></li>
                                    <li>Zonal Manager <span class="label label-pill label-primary"> 12 </span></li>
                                    <li>Regional Manager <span class="label label-pill label-primary"> 24 </span></li>
                                    <li>Medical Reps <span class="label label-pill label-primary"> 48 </span></li>
                                </ul>
                                <br /><br />
                                <div class="clearfix"></div>
                            </div>
                            <div class="filter-section" style="border:0px">
                                <p class="filter-section-title">Team Performance</p>
                                <div class="row">
                                    <div class="col-md-6 p-r-0">
                                        <!-- <div class="piechartcontainer" style="max-width: 250px;border:1px solid #eee;height:150px"></div> -->
                                        <div style="max-width: 250px;border:1px solid #eee;height:150px">
                                        	<nvd3 options="pieChart2Options" data="pieChart2Data" id="pieChart2" api="apiPie2"></nvd3>
                                        </div>
                                    </div>
                                    <div class="col-md-5 p-l-0 p-r-0 p-t-1 p-b-1" style="border:1px solid #eee;height:150px">
                                        <div class="filter-section-title1 p-l-1">Sales Target:</div>
                                        <div class="filter-section-title_target p-l-1 p-b-1" style="border-bottom:1px solid #eee">Rs. 45,20,000</div>
                                        <br />
                                        <div class="filter-section-title1 p-l-1">Sales Acheived:</div>
                                        <div class="filter-section-title_acheived p-l-1 p-b-1">Rs. 56,20,000</div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>


                    <div class="site-main-content" style="min-height: 700px">
                        <div class="header_content main-page-content-load" style="display:none">
                            <div class="col-xl-6 site-content-page-heading-left-section">
                                <div class="site-content-page-heading">My Team</div>
                            </div>
                            <div class="col-xl-6 site-content-page-heading-right-section"  style="padding-top:6px;padding-bottom:12px">
                                <div class="col-md-3  p-t-2 filter-section-title p-l-1">Performance Period</div>
                                <div class="col-md-6  p-t-1 p-b-1">
              						<select kendo-combo-box
										 k-placeholder="'Time Period'"
										 k-data-text-field="'MonthYear'"
										 k-data-value-field="'TimePeriodID'"
										 k-auto-bind="true"
										 k-min-length="2"
										 k-data-source="timePeriods"
										 k-filter="'contains'"
										 k-ng-model="selectedTimePeriodTeam"
										 class="width-100">
									</select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                       <div class="record-rows p-l-1 p-r-1 p-t-3 record-rows-margin-top">
							<div class="margin-bottom-20 border-0 k-competitive" kendo-grid k-data-source="myTeam" k-sortable="true" k-columns="gridColumns" ng-init="initPieCharts_Grid()"></div>
                       		<div class="clearfix"></div>
                       </div>
                    </div>
                </div>
                <!--.tab-pane-->

                <div role="tabpanel" class="tab-pane in active" id="tabs-4-tab-2">
                    <div class="filter-area height-manupulated-1">
                    	<div class="filter-area-inner" slimscroll="rootScope.slimScrollOptions_2">
                            <div class="col-md-10 p-l-0 p-r-0 margin-b-15">
                                <p class="filter-section-title">Load Preset</p>
                                <select kendo-combo-box
                  								 k-placeholder="'Select a Preset'"
                  								 k-data-source="presetsColl"
                  								 k-data-text-field="'SearchKey'"
                  								 k-data-value-field="'SearchKeyID'"
                  								 k-auto-bind="true"
                  								 k-value-primitive="true"
                  								 k-min-length="2"
                  								 k-ng-model="selectedPreset"
                  								 k-filter="'contains'"
                  								 k-on-change="applySelectedPreset()"
                  								 class="width-100"
                                   >
                  							</select>
                            </div>
                            <div class="p-l-0 p-r-0 margin-b-15 trash-icon" style="display:inline-block"><span ng-click="deleteConfirmationModal(selectedPreset)"><i class="fa fa-trash-o" aria-hidden="true"></i></span></div>
                            <div class="clearfix"></div>
                            <form class="">
                                <!-- <div class="filter-area-heading">Filter Data</div> -->
                                <div class="filter-section" style="border:0px">
                                    <p class="filter-section-title">Select Geography</p>
                                    <div class="radio">
                                        <input type="radio" name="filter_options" id="radio-1" ng-value="'zone'" ng-model="fetchData.GeographyFilter" ng-disabled="true">
		                                <label for="radio-1" class="m-r-1 font-14">Zone </label>
		                                <input type="radio" name="filter_options" id="radio-2" ng-value="'state'" ng-model="fetchData.GeographyFilter" ng-disabled="true">
		                                <label for="radio-2" class="m-r-1 font-14">State </label>
		                                <input type="radio" name="filter_options" id="radio-3" ng-value="'city'" ng-model="fetchData.GeographyFilter">
		                                <label for="radio-3" class="m-r-1 font-14">City </label>
                                    </div>
                                    <div class="col-md-12 p-b-1 p-l-0 p-r-0">
                                        <select kendo-combo-box
										 k-placeholder="'Search...'"
										 k-data-source="geographyColl"
										 k-data-text-field="'GeographyValue'"
										 k-data-value-field="'GeographyID'"
										 k-auto-bind="true"
										 k-value-primitive="true"
										 k-min-length="2"
										 k-ng-model="fetchData.GeographyID"
										 k-filter="'contains'"
										 k-on-change="geographySelected()"
										 class="width-100">
										</select>
                                    </div>
                                    <div class="col-md-12 p-l-0 p-r-0 p-b-1">
                                        <p class="filter-section-title">Select Patch</p>
                                        <ui-select multiple ng-model="$parent.selectedPatches" theme="bootstrap" title="Search an Item" name="multipleSelect" close-on-select="false"
                                        on-select="multiSelected()">
                                            <ui-select-match placeholder="All">{{$item.BrickName}}</ui-select-match>
                                            <ui-select-choices repeat="item.BrickID as item in bricksColl | propsFilter: {BrickName:$select.search}" minimum-input-length="0"
											refresh-delay="0">
                                                <div ng-bind-html="item.BrickName | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <!-- <div class="col-md-12 p-l-0 p-r-0 p-b-1" ng-if="(divisionColl !== undefined) && (divisionColl.length > 1)">
		                                <p class="filter-section-title">Divisions</p>
										<select kendo-combo-box
										 k-placeholder="'Select Division'"
										 k-data-source="divisionColl"
										 k-data-text-field="'DivisionName'"
										 k-data-value-field="'DivisionID'"
										 k-auto-bind="true"
										 k-value-primitive="true"
										 k-min-length="2"
										 k-ng-model="fetchData.DivisonID"
										 k-filter="'contains'"
										 class="width-100">
										</select>
		                            </div> -->
                                </div>

                                <div class="filter-section">
                                    <div class="col-md-12 p-l-0 p-r-0 p-b-1">
                                        <p class="filter-section-title">Period Type</p>
                                        <select kendo-combo-box
                                            k-placeholder="'Period Type'"
                                            k-data-source="periodTypeColl"
                                            k-data-text-field="'SubscriptionPeriodTypeName'"
                                            k-data-value-field="'SubscriptionPeriodTypeID'"
                                            k-auto-bind="true"
                                            k-value-primitive="true"
                                            k-min-length="2"
                                            k-ng-model="PeriodTypeID"
                                            k-filter="'contains'"
                                            k-on-change="periodTypeChanged()"
                                            class="width-100">
                                        </select>
                                    </div>

                                    <div class="col-md-12 p-l-0 p-r-0 p-b-1">
                                        <div class="col-md-6 p-a-0 p-r-1">
                                            <p class="filter-section-title">Start Time</p>
                                            <select kendo-combo-box
                                                k-placeholder="'Start Time'"
                                                k-data-text-field="'MonthYear'"
                                                k-data-value-field="'TimePeriodID'"
                                                k-auto-bind="true"
                                                k-value-primitive="true"
                                                k-min-length="2"
                                                k-data-source="timePeriods"
                                                k-filter="'contains'"
                                                k-ng-model="period.startPeriod"
                                                k-on-change="timeSelected(kendoEvent)"
                                                class="width-100">
                                            </select>
                                        </div>

                                        <div class="col-md-6 p-a-0 p-l-1 p-r-0">
                                            <p class="filter-section-title">End Time</p>
                                            <select kendo-combo-box
                                                k-placeholder="'End Time'"
                                                k-data-text-field="'MonthYear'"
                                                k-data-value-field="'TimePeriodID'"
                                                k-value-primitive="true"
                                                k-auto-bind="true"
                                                k-min-length="2"
                                                k-data-source="timePeriods"
                                                k-filter="'contains'"
                                                k-ng-model="period.endPeriod"
                                                k-on-change="timeSelected(kendoEvent)"
                                                class="width-100">
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="clearfix"></div> -->
                                </div>

                                <div class="filter-section">
                                    <div class="col-md-12 p-b-1 p-l-0 p-r-0">
                                        <p class="filter-section-title">Comparison Type</p>
										<select kendo-combo-box
											k-placeholder="'Select...'"
											k-data-source="comparisonType"
											k-data-text-field="'title'"
											k-data-value-field="'value'"
											k-value-primitive="true"
											k-auto-bind="true"
											k-min-length="3"
                    						k-filter="'contains'"
                    						k-ng-model="fetchData.ComparisonType"
											k-on-change="comparisonTypeChanged()"
											class="width-100">
										</select>
                                    	<div class="clearfix"></div>
                                	</div>

                                    <div class="filter-section">
                                        <div class="col-md-12 p-l-0 p-r-0 p-b-1" ng-if="fetchData.ComparisonType === 'brand'">
                                            <p class="filter-section-title">Therapy Class</p>
                                            <select kendo-combo-box
                                                k-placeholder="'Therapy Class'"
                                                k-data-source="TherapyClassColl"
                                                k-data-text-field="'type'"
                                                k-data-value-field="'value'"
                                                k-auto-bind="true"
                                                k-value-primitive="true"
                                                k-min-length="2"
                                                k-ng-model="fetchData.TCLevel"
                                                k-on-change="fetchTherapyListByTherapyCode()"
                                                k-filter="'contains'"
                                                class="width-100">
											</select>
                                        </div>
                                   </div>
                                   <div class="m-t-1">
                                        <div class="col-md-12 p-l-0 p-r-0 p-b-1" ng-if="fetchData.ComparisonType === 'brand'">
                                            <p class="filter-section-title">Select Therapy</p>
                                            <ui-select multiple ng-model="selected.Therapies" theme="bootstrap" title="Search an Item" name="multipleSelect"
                    											 close-on-select="false" uis-open-close="therapiesSelected(isOpen)" on-remove="therapiesRemoved($item, $model)">
                    												<ui-select-match placeholder="">{{$item.TherapyName}}</ui-select-match>
                    												<ui-select-choices repeat="item.TherapyCode as item in therapyList | propsFilter: {TherapyName: $select.search}"
                                                                    minimum-input-length="0" refresh-delay="0">
                    													<div ng-bind-html="item.TherapyName | highlight: $select.search"></div>
                    												</ui-select-choices>
                    											</ui-select>
                                        </div>
                                    </div>
                                    <div class="m-t-1">
                                        <div class="col-md-12 p-l-0 p-r-0 p-b-0 m-t-0">
                                            <p class="filter-section-title">
                                                Select
                                                <span ng-if="fetchData.ComparisonType === 'company'">Companies</span>
                                                <span ng-if="fetchData.ComparisonType === 'brand'">Brand</span>
                                            </p>
											<ui-select multiple ng-model="selected.selectedTypes" theme="bootstrap" title="Search an Item" name="multipleSelect"
											 close-on-select="false">
												<ui-select-match placeholder="">{{$item.ComparisonValue}}</ui-select-match>
												<ui-select-choices repeat="item.ComparisonID as item in filteredCategoryValues" minimum-input-length="2"
												refresh="filterCategoryValues($select.search)" refresh-delay="0">
													<div ng-bind-html="item.ComparisonValue | highlight: $select.search"></div>
												</ui-select-choices>
											</ui-select>
                                        </div>

                                        <div class="col-md-12 p-l-0 p-r-0 m-t-1" ng-if="selected.selectedTypes.length > 0">
				                            <div class="checkbox m-all-0">
				                                <input type="checkbox" id="includeSearches" ng-true-value="1" ng-false-value="0" ng-model="fetchData.includeTopSearches">
				                                <label for="includeSearches">Include Top Searches</label>
				                            </div>
				                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="form-group m-t-1">
                                    <div class="col-lg-12 p-l-0 p-r-0">
										<kendo-button  class="btn-competitiveteam" on-click="displayResult()">Start Comparison</kendo-button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="form-group">
	                                <fieldset class="form-group col-md-12 p-l-0 p-r-0">
			                            <div class="checkbox m-all-0">
			                                <input type="checkbox" id="savePreset" ng-model="SavePresetFlag">
			                                <label for="savePreset">Save Preset</label>
			                            </div>
			                        </fieldset>

			                        <div class="form-group col-md-12 p-l-0 p-r-0" ng-show="(SavePresetFlag)">
			                        	<div class="custom-input-group">
			                        		<input type="text" class="k-textbox input-box-custom border-0 width-70 custom-input" name="presetname" ng-model="PresetName" placeholder="Define Preset Name" maxlength="50">
			                        		<kendo-button class="k-primary btn-save-team-name width-30 btn-violet custom-button" on-click="savePreset();" ng-disabled="(PresetName === undefined) || (PresetName === '')">SAVE</kendo-button>
			                        	</div>
			                        </div>
								</div>
                            </form>
						</div>
                    </div>

                    <div class="site-main-content block-content">
                        <div class="header_content">
                            <div class="col-xl-12 site-content-page-heading-left-section" style="padding-top:12px;padding-bottom:12px">
                                <div class="site-content-page-heading">
									<span ng-if="comparisonData === 'company'">Company vs Company</span>
									<span ng-if="comparisonData === 'brand'">Brand vs Brand</span> Comparison
									<div class="input-group" style="display:inline; margin-left:43%;">
										<div class="btn-group radio-group">
										   <label class="btn btn-primary not-active CVMbutton">CVM 
												<input type="radio" ng-model="fetchData.DataType" ng-value="'cvm'" ng-change="cvmRadioChanged()">
											</label>
										   <label class="btn btn-primary CVMbutton">IPM 
												<input type="radio" ng-model="fetchData.DataType" ng-value="'npm'" ng-change="cvmRadioChanged()">
											</label>
										</div>
									</div>
								</div>
			                  	<p class="filter-section-title" style="padding-left:40px; margin-top:0;">
			                  		<span>{{GeographyName}}</span>
			                  		<span style="margin-left:20px">{{TherapyName}}</span>
			                  	</p>
								
                            </div>
                        </div>

                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="col-sm-9">
                                        <div class="radio-fancy magento col-xl-5 p-l-0 p-r-0">
                                            <input type="radio" name="toggle-radio" id="toggle-radio-1" ng-model="chartRadio" ng-value="'NoPatch'"
                                                ng-change="chartRadioChanged()" ng-disabled="CompAnalysisData === undefined"/>
                                            <label for="toggle-radio-1" class="">
                                                <div class="">Overall Comparision</div>
                                            </label>
                                        </div>
                                        <div class="radio-fancy magento col-xl-5 p-l-0 p-r-0">
                                            <input type="radio" name="toggle-radio" id="toggle-radio-2" ng-model="chartRadio" ng-value="'ByPatch'"
                                                ng-change="chartRadioChanged()" ng-disabled="CompAnalysisData === undefined"/>
                                            <label for="toggle-radio-2" class="">
                                                <div class="">Comparision By Patch</div>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 text-right">
    									<select ng-options="item as item.label for item in unitOfMeasuresColls" ng-model="unitOfMeasures"
                                        ng-change="unitOfMeasuresChanged({uomFlag:'$scope.UOM_set_flag = true'})" ng-disabled="CompAnalysisData === undefined"
                                        class="custom-select-1 margin-r-10">
    									</select>
                                	</div>
                                </div>
                            </div>

                            <!-- No Patch sestion -->
                            <div class="row" ng-show="chartRadio === 'NoPatch'">
                                <div class="col-xl-6">
                                    <nvd3 options="discrete_bar.options" data="discrete_bar.data" api="apiDiscreteBar" class="discreteBarChart" id="svgChart"></nvd3>
                                </div>
                                <div class="col-xl-6 competitivePieChart1">
                                    <!-- <div ng-click="window_onload();"> Canvas Below </div>
                                    <canvas id="canvas" width="100px" height="100px" style="display:none"></canvas> -->
                                    <nvd3 options="pieChart1Options" data="companyPerformance" id="pieChart1" api="apiPie1"></nvd3>
                                </div>
                            </div>

                            <!-- By Patch section -->
                            <div class="row competitiveMultibarGraph" ng-show="chartRadio === 'ByPatch'">
                                <nvd3 class="col-xl-9 multiBarChart" options="multibar.options" data="multibar.data" api="apiMultiBar"></nvd3>

                                <!-- Filter Section Starts -->
                                <div class="col-xl-3 graph-filter-area">
                                    <div class="">Filter</div>
                                    <div class="list">
                                        <div class="body" slimscroll="rootScope.slimScrollOptions">
                                            <a href="javascript:void(0)" ng-click="patchIdSelected(this)" class="item" ng-if="CompAnalysisData.PatchList.length > 0"
                                            ng-class="{'active':(selectedPatchId === undefined)}">ALL</a>
                                            <a href="javascript:void(0)" class="item" ng-repeat="item in CompAnalysisData.PatchList" id="{{item.PatchID}}"
                                                ng-click="patchIdSelected(this)" ng-class="{'active':(selectedPatchId === item.PatchID)}">
                                                {{item.PatchName}}
                                            </a>
                                            <div ng-if="CompAnalysisData.PatchList.length === 0" class="no-data-available">No Patch Available</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Data Grid -->
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card-block p-y-0 m-y-0">
                                        <!-- <div class="dropdown user-menu download-options export-options">
                      										<a class="glyphicon glyphicon-download-alt dropdown-toggle" data-toggle="dropdown" id="dd-user-menu" aria-haspopup="true" aria-expanded="true" aria-hidden="true"></a>
                      										<div class="dropdown-menu dropdown-menu-right tab-actions-pop" aria-labelledby="dd-user-menu">
                      											<span class="glyphicon glyphicon-triangle-top arrow-top-export-menu" aria-hidden="true"></span>
                      											<div style="margin-top:-20px">
                                              <a class="dropdown-item" href="javascript:void(0)" export-to-pdf-attr
                                              export-element="exportable-3-1" pdf-name="Top Companies" >Export to PDF</a>
                      												<a class="dropdown-item" href="javascript:void(0)" export-to-power-point-attr
                                              export-element="exportable-3-1" ppt-name="Top Companies">Export to PPT</a>
                      											</div>
                      										 </div>
                      									</div> -->
                                        <!-- <div id="expt-3-1-1" style="font-weight:bold;font-size:20px;padding-bottom:15px ">Overall Comparison</div> -->
                                        <export-to-documents class="export-feature"  file-name="Overall Comparison" ng-if="(chartRadio === 'ByPatch') && (selectedPatchId === undefined)"
                                            config-data="[{action:'pdf', id:['init-patch','expt-3-1','expt-3-2','expt-3-3','expt-3-4','expt-3-5','expt-3-6','expt-3-7','expt-3-8','expt-3-9'], label: 'PDF', icon:'<i class=\'fa fa-file-pdf-o\' aria-hidden=\'true\'></i>'},
                                            {action:'ppt', id:[{type:'txt', value:'expt-3-1-1', newSlide:true}, {type:'img', value:'expt-selectedPatch'}, {type:'img', value:'expt-3-1',newSlide:true}, {type:'img', value:'expt-3-2', newSlide:true},{type:'img', value:'expt-3-3', newSlide:true},
                                            {type:'img', value:'expt-3-4', newSlide:true},{type:'img', value:'expt-3-5', newSlide:true},{type:'img', value:'expt-3-6', newSlide:true},
                                            {type:'img', value:'expt-3-7', newSlide:true},{type:'img', value:'expt-3-8', newSlide:true},{type:'img', value:'expt-3-9', newSlide:true},
                                            ],
                                            label: 'PPT', icon:'<i class=\'fa fa-file-powerpoint-o\' aria-hidden=\'true\'></i>'}]">
                                        </export-to-documents>

                                        <export-to-documents class="export-feature" file-name="Overall Comparison" ng-if="chartRadio === 'NoPatch'"
                                            config-data="[{action:'pdf', id:['init-patch'], label: 'PDF', icon:'<i class=\'fa fa-file-pdf-o\' aria-hidden=\'true\'></i>'},
                                            {action:'ppt', id:[{type:'txt', value:'expt-3-1-1', newSlide:true}, {type:'img', value:'expt-selectedPatch'},
                                            ],
                                            label: 'PPT', icon:'<i class=\'fa fa-file-powerpoint-o\' aria-hidden=\'true\'></i>'}]">
                                        </export-to-documents>

                                        <export-to-documents class="export-feature" file-name="Overall Comparison" ng-if="selectedPatchId > 0"
                                            config-data="[{action:'pdf', id:['init-patch','expt-selectedPatch2'], label: 'PDF', icon:'<i class=\'fa fa-file-pdf-o\' aria-hidden=\'true\'></i>'},
                                            {action:'ppt', id:[{type:'txt', value:'expt-3-1-1', newSlide:true}, {type:'img', value:'expt-selectedPatch'},{type:'img', value:'expt-selectedPatch2',newSlide:true},
                                            ],
                                            label: 'PPT', icon:'<i class=\'fa fa-file-powerpoint-o\' aria-hidden=\'true\'></i>'}]">
                                        </export-to-documents>
                                    </div>
                                    <div>

                                    <div>
                                        <!-- <div class="margin-bottom-20 border-0 k-competitive2 topProductsColl table-scrollable" kendo-grid k-data-source="companyPerformance" k-sortable="true" k-columns="performanceColumns"
                                        k-rebind="performanceColumns" k-options="gridOptions"> -->
                                        <div id="">
                                          <div id="init-patch">
                                          <div id="expt-3-1-1" style="font-weight:bold;font-size:20px;padding-bottom:15px; margin-left:40px">Overall Comparison</div>
                                          <div id="expt-selectedPatch" class="card-block p-t-0">
                                           <table class="table custom-table-grid table-responsive">
                                      			<thead>
                                      				<tr>
                                                <th width="5%">
                                                  <a ng-click="sortBy('Rank')" style="border-bottom:none">Rank</a>
                                                  <span class="sortorder" ng-show="propertyName === 'Rank'"></span>
                                                </th>
                                      					<th width="25%">
                                                  {{ComparisonTypeLabel}} Name
                                                </th>
                                      					<th width="10" ng-repeat="itms in tableDataArrColm">
                                                  <a ng-click="sortBy('Data')" style="border-bottom:none" >{{ itms + figureQualifier }}</a>
                                                  <span class="sortorder" ng-show="propertyName === 'Data'" ng-class="{asc: asc}"></span>
                                                </th>

                                                <th width="25%">
                                                  <a ng-click="sortBy('TotalValue')" style="border-bottom:none">Comulative Values {{figureQualifier}}</a>
                                                  <span class="sortorder" ng-show="propertyName === 'TotalValue'" ng-class="{asc: asc}"></span>
                                                </th>
                                                <!-- <th width="25%">Market Share</th> -->
                                      				</tr>
                                      			</thead>
                                      			<tbody>
                                      				<tr ng-repeat="item in tableDataArr">
                                      					<td>{{item.Rank}}</td>
                                      					<td>{{item.Name}}</td>
                                                <td ng-repeat="x in item.MonthData">{{DivideAndRound(x.Data, unitOfMeasures.divisor, unitOfMeasures.decimal) }}</td>
                                                <td>{{ DivideAndRound(item.TotalValue, unitOfMeasures.divisor, unitOfMeasures.decimal) }}</td>
                                                <!-- <td>{{y.MarketShare}}</td> -->
                                      				</tr>
                                      			</tbody>
                                      		</table>
                                          </div>
                                          </div>
                                          <div id="expt-3-{{$index + 1}}" class="card-block p-t-0" ng-repeat="child in repeatTableDataList" ng-if="(selectedPatchId === undefined) && (chartRadio === 'ByPatch')">
                                            <!-- <div class="margin-bottom-20 border-0 k-competitive2 topProductsColl table-scrollable" kendo-grid k-data-source="companyPerformance" k-sortable="true" k-columns="performanceColumns"
                                            k-rebind="performanceColumns" k-options="gridOptions"> -->
                                            <div class="p-t-20">
                                              <h3 class="patch-heading">{{ child.PatchName }}</h3>
                                            </div>
                                            <table class="table custom-table-grid table-responsive">
                                              <thead>
                                                <tr>
                                                  <th width="5%">
                                                    <a ng-click="sortBy('Name')" style="border-bottom:none">Rank</a>
                                                    <span class="sortorder" ng-show="propertyName === 'Name'" ng-class="{asc: asc}"></span>
                                                  </th>
                                                  <th width="25%">
                                                    {{ComparisonTypeLabel}} Name
                                                  </th>
                                                  <th width="10" ng-repeat="itms in TableDataListColm">
                                                    <a ng-click="sortBy('Data')" style="border-bottom:none">{{ itms + figureQualifier }} </a>
                                                    <span class="sortorder" ng-show="propertyName === 'Data'" ng-class="{asc: asc}"></span>
                                                  </th>
                                                  <th width="25%">
                                                    <a ng-click="sortBy('TotalValue')" style="border-bottom:none">Comulative Values {{figureQualifier}} <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a>
                                                    <span class="sortorder" ng-show="propertyName === 'TotalValue'" ng-class="{asc: asc}"></span>
                                                  </th>
                                                  <!-- <th width="25%">Market Share</th> -->
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr ng-repeat="item1 in child.TableData | orderBy:propertyName:asc">
                                                  <td>{{item1.Rank}}</td>
                                                  <td>{{item1.Name}}</td>
                                                  <td ng-repeat="x in item1.MonthData">{{DivideAndRound(x.Data, unitOfMeasures.divisor, unitOfMeasures.decimal) }}</td>
                                                  <td>{{ DivideAndRound(item1.TotalValue, unitOfMeasures.divisor, unitOfMeasures.decimal) }}</td>
                                                  <!-- <td>{{y.MarketShare}}</td> -->
                                                </tr>
                                              </tbody>
                                            </table>
                                        </div>
                                          <div id="expt-3-{{$index + 1}}" class="card-block p-t-0" ng-if="(selectedPatchId > 0) && (chartRadio === 'ByPatch')">
                                              <!-- <div class="margin-bottom-20 border-0 k-competitive2 topProductsColl table-scrollable" kendo-grid k-data-source="companyPerformance" k-sortable="true" k-columns="performanceColumns"
                                              k-rebind="performanceColumns" k-options="gridOptions"> -->
                                              <div id="expt-selectedPatch2">
                                              <div class="p-t-20">
                                                <h3 class="patch-heading">{{ PatchData.PatchName }}</h3>
                                              </div>
                                              <table class="table custom-table-grid table-responsive">
                                                <thead>
                                                  <tr>
                                                    <th width="5%">
                                                      <a ng-click="sortBy('Name')" style="border-bottom:none">Rank</a>
                                                      <span class="sortorder" ng-show="propertyName === 'Name'" ng-class="{asc: asc}"></span>
                                                    </th>
                                                    <th width="25%">
                                                      {{ComparisonTypeLabel}} Name
                                                    </th>
                                                    <th width="10" ng-repeat="itms in tableDataArrColm">
                                                      <a ng-click="sortBy('Data')" style="border-bottom:none">{{ itms + figureQualifier }}</a>
                                                      <span class="sortorder" ng-show="propertyName === 'Data'" ng-class="{asc: asc}"></span>
                                                    </th>
                                                    <th width="25%">
                                                      <a ng-click="sortBy('TotalValue')" style="border-bottom:none">Comulative Values {{figureQualifier}} </a>
                                                      <span class="sortorder" ng-show="propertyName === 'TotalValue'" ng-class="{asc: asc}"></span>
                                                    </th>
                                                    <!-- <th width="25%">Market Share</th> -->
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr ng-repeat="item in tableDataList2">
                                                    <td>{{item.Rank}}</td>
                                                    <td>{{item.Name}}</td>
                                                    <td ng-repeat="x in item.MonthData">{{DivideAndRound(x.Data, unitOfMeasures.divisor, unitOfMeasures.decimal) }}</td>
                                                    <td>{{ DivideAndRound(item.TotalValue, unitOfMeasures.divisor, unitOfMeasures.decimal) }}</td>
                                                    <!-- <td>{{y.MarketShare}}</td> -->
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                            </div>
                                          </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
      				</div>
      			</div>
			<!-- tab-content ends -->
        </div>
    </div>
</div>
<!-- Delete Confirmation modal starts -->
<script type="text/ng-template" id="deleteConfimationModal.html">
	<div class="custom-modal small">
        <div class="modal-content">
        	<div class="modal-header row">
        		<kendo-button class="close-icon" ng-click="dismissModal()"><i class="fa fa-times fa-sm" aria-hidden="true"></i></kendo-button>
        		<h5 class="title">Delete Confirmation</h5>
        	</div>
	        <div class="modal-body row">
		        <div class="col-sm-12 m-b-1">
			        <div class="row">
                        <div class="col-sm-12">
                        	<p class="message">{{message}}</p>
                        </div>
			        </div>
		        </div>
		        <div class="col-sm-12 text-center">
	        		<kendo-button type="button" ng-click="confirmDelete()">Confirm</kendo-button>
		        </div>
	        </div>
   		</div>
   	</div>
</script>
<!-- Delete Confirmation modal ends -->
