<div class="page-content main-page-content competitive-analysis">
    <div class="container-fluid main-container-fluid">
        <div class="row">
        	
            <section id="tabTable" class="tabs-section">
                <div class="tabs-section-nav tabs-section-nav-inline">
                    <ul class="nav" role="tablist">
                        <li class="nav-item selected">
                            <a class="nav-link active" ng-click="showTab('#tabs-4-tab-2', '#tabs-4-tab-1')" role="tab">
	                            Team Performance
	                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-click="showTab('#tabs-4-tab-1', '#tabs-4-tab-2')" role="tab">
                                Product Comparison
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <!--.tabs-section-->
            
			<!--content -->
			<!--.tabs-section-nav-->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane in active" id="tabs-4-tab-1">
                    <div class="col-xl-3 filter-area">
                        <form class="">
                            <div class="filter-section main-page-content-load" style="display:none;border:0px">
                                <div class="col-md-12 p-l-0 p-b-1">
                                    <p class="filter-section-title">Field Head</p>
									<select kendo-combo-box
										k-placeholder="'Jayshankar Krish'"
										k-data-text-field="'feildHead'"
										k-auto-bind="true"
					                    k-min-length="3"
					                    k-filter="'contains'"
										k-data-source="competCombo1"
										class="width-100">{{ competCombo1.feildHead }}
									</select>
                                </div>
                                <div class="col-md-12 p-l-0 p-b-1">
                                    <p class="filter-section-title">Zonal Manager</p>
									<select kendo-combo-box
										k-placeholder="'ALl Mangers Sales Performance'"
										k-data-text-field="'zonal'"
										k-auto-bind="true"
					                    k-min-length="3"
					                    k-filter="'contains'"
										k-data-source="competCombo2"
										class="width-100">{{ competCombo2.zonal }}
									</select>
                                </div>
                                <div class="col-md-12 p-l-0 p-b-1">
                                    <div class="filter-section-title p-t-2">Show Performance of</div>
                                    <div class="checkbox col-xl-10 p-t-1">
                                        <input type="checkbox" id="check-1" style="width:20px;height:20px">
                                        <label for="check-1" style="font-size:15px;color:#16b4fc">Show Entire Team</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-12 p-l-0">
                                    <p class="filter-section-title">Filter By</p>
									<select kendo-combo-box
										k-placeholder="'Medical Rep'"
										k-data-text-field="'filter'"
										k-auto-bind="true"
					                    k-min-length="3"
					                    k-filter="'contains'"
										k-data-source="competCombo3"
										class="width-100">{{ competCombo3.filter }}
									</select>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>


                    <div class="col-xl-9  site-main-content" style="min-height: 700px">
                        <div class="header_content   main-page-content-load" style="display:none">
                            <div class="col-xl-6 site-content-page-heading-left-section" style="padding-top:15px;padding-bottom: 9px">
                                <div class="site-content-page-heading">
                                   <div class="col-xl-2">
                                      <img src="content/img/avatars.png" style="margin-right:10px;margin-top:5px" alt="">
                                   </div>
                                   <div class="col-xl-7" style="font-size:28px;">
                                      Jayshankar Krish <br />
                                      <p class="filter-section-title">Field Head India, North Zone</p>
                                   </div>
                                   <div class="col-xl-1 p-t-1">
                                      <div class="circle-tags">4</div>
                                   </div>
                                </div>
                            </div>
                            <div class="col-xl-6 site-content-page-heading-right-section">
                                <div class="col-md-3  p-t-2 filter-section-title p-l-1">Performance Period</div>
                                <div class="col-md-6  p-t-2 p-b-2">
								<select kendo-combo-box
									k-placeholder="'Mat'"
									k-data-text-field="'period'"
									k-auto-bind="true"
                                    k-min-length="3"
                                    k-filter="'contains'"
									k-data-source="competCombo4"
									class="width-100">{{ competCombo4.period }}
								</select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="header_extra_info   main-page-content-load" style="display:none">
                            <div class="col-xl-6 filter-section-title1">Team Performance</div>
                            <div class="col-xl-3">
                                <div class="filter-section-title1 pull-left">Sales Target:</div>
                                <div class="filter-section-title_target pull-left p-l-1">Rs. 45,20,000</div>
                            </div>
                            <div class="col-xl-3 p-r-0 p-l-0">
                                <div class="filter-section-title1 pull-left">Sales Acheived:</div>
                                <div class="filter-section-title_acheived pull-left p-l-1">Rs. 56,20,000</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="record-rows p-l-1 p-r-1 p-t-3">
							<div class="margin-bottom-20 k-competitive border-0" kendo-grid k-data-source="teamPerformance" k-sortable="true" k-columns="gridColumns"></div>
                            <div class="clearfix"></div>
						</div>
					</div>
				</div>
                <!--.tab-pane-->

                <div role="tabpanel" class="tab-pane" id="tabs-4-tab-2">

                    <div class="col-xl-3">
                        <form class="">
                            <div class="filter-section" style="border:0px">
                                <p class="filter-section-title">Select Region</p>
                                <div class="radio">
                                    <input type="radio" name="filter_options" id="radio-1" value="zone">
                                    <label for="radio-1" class="m-r-1 font-14">Zone </label>
                                     <input type="radio" name="filter_options" id="radio-2" value="state">
                                     <label for="radio-2" class="m-r-1 font-14">State </label>
                                     <input type="radio" name="filter_options" id="radio-3" value="city">
                                     <label for="radio-3" class="m-r-1 font-14">City </label>
                                     <input type="radio" name="filter_options" id="radio-4" value="area">
                                     <label for="radio-4" class="font-14">Area </label>
                                </div>
                                <div class="col-md-12 p-b-1 p-l-0">
									<select kendo-combo-box
										k-placeholder="'New Delhi'"
										k-data-text-field="'city'"
										k-auto-bind="true"
					                    k-min-length="3"
					                    k-filter="'contains'"
										k-data-source="dataSource"
										class="width-100">{{ dataSource.city }}
									</select>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="">
                                <div class="col-md-12 p-b-1 p-l-0">
                                    <p class="filter-section-title">Comparison Type</p>
                                    <select kendo-combo-box
										k-placeholder="'Company to Company'"
										k-data-text-field="'comparision'"
										k-auto-bind="true"
					                    k-min-length="3"
					                    k-filter="'contains'"
										k-data-source="dataSource2"
										class="width-100">{{ dataSource2.comparision }}
									</select>
                                	<div class="clearfix"></div>
                            	</div>

                            	<div class="m-t-1">
                                	<div class="col-md-12 p-l-0 p-b-0">
                                        <p class="filter-section-title">Select Companies</p>
                                        <select kendo-multi-select k-data-source="competitiveteamCompanies" k-data-text-field="'comp'" k-ng-model="selectedIds"></select>
                                        <br/><br/>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>


                            <div class="form-group">
                                <div class="col-lg-12 p-l-0">
									<kendo-button  class="btn-competitiveteam" on-click="onClick3()">Start Comparison</kendo-button>
                                </div>
                            </div>
                            
                        </form>
                    </div>

                    <div class="col-xl-9  site-main-content">
                        <div class="header_content">
                            <div class="col-xl-5 site-content-page-heading-left-section" style="padding-top:15px;padding-bottom:14px">
                                <div class="site-content-page-heading">Company to Company Comparison</div>
                                <p class="filter-section-title" style="padding-left:40px">New Delhi, India</p>
                            </div>

                            <div class="col-xl-4" style="border-right:1px solid #ddd;border-bottom:1px solid #ccc;padding:0px;padding-top:8px">
                                <div style="font-size:14px;padding-left:20px;padding-top:5px">View Top Ranker</div>
                                <div style="margin-top:7px;padding:10px;">
                                    <div class="checkbox col-xl-6">
                                        <input type="checkbox" id="check-2" name="check-2">
                                        <label for="check-2" style="font-size:18px">View Top 10</label>
                                    </div>
                                    <div class="checkbox col-xl-6">
                                        <input type="checkbox" id="check-3" name="check-3">
                                        <label for="check-3" style="font-size:18px">View Top 20</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3" style="border-bottom:1px solid #ddd;padding:0px;padding-top:13px">
                                <div style="font-size:14px;padding-left:20px">Performance Period</div>
                                <div class="col-md-10" style="padding-left:20px;margin-top:11px;padding-bottom: 10px">
										<select kendo-combo-box
										k-placeholder="'New Delhi'"
										k-data-text-field="'period'"
										k-auto-bind="true"
                                        k-min-length="3"
                                        k-filter="'contains'"
                                        k-data-source="dataSource4"
										class="width-100">{{ dataSource4.period }}
									</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12">
                            <div class="col-xl-4">
                                <div id="container" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>
                            </div>
                            <div class="col-xl-8">
                                <div class="card-block">
									<div class="margin-bottom-20 k-competitive2 border-0" kendo-grid k-data-source="comparision" k-sortable="true" k-columns="gridColumns2"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--.tab-pane-->
            </div>
            
        </div>
        <!--.row-->
    </div>
    <!--.container-fluid-->
</div>