<div class="page-content main-page-content-load" style="padding-left: 0px;padding-top: 80px;background-color: #F6FAFB;padding-right: 0px;">
    <div class="container-fluid">
            <div class="row">

                <div class="col-xl-12 p-l-0 p-r-0" style="background-color: #FFF">
                	
                    <div class="header_content" style="">
                        <div class="col-xl-5" style="border-right:1px solid #ddd;border-bottom:1px solid #ccc;padding:10px;padding-bottom: 16px;color:#16b4fc">
                            <div class="site-content-page-heading p-t-1"><span style="color:#222">Divisions</span> <i class="fa fa-plus-circle m-l-1"></i>
                            	<a href="javascript:void(0)" ui-sref="admin.add_division"><span class="font-16">Add Divisions</span></a>
                            </div>
                        </div>
                        
                        <div class="col-xl-3" style="border-right:1px solid #ddd;border-bottom:1px solid #ccc;padding:0px;">
                            <div class="col-xl-12 padd-t-b-1-2r">
                                <a href="javascript:void(0)" ui-sref="admin.map_product">
                                    <div class="col-xl-12 btn color-purple" style="border-color:#8C4299;padding-bottom:10px">
                                    <i class="glyphicon glyphicon-transfer" style="color:#FFF; margin-right:5px;"></i> Map Product to Division
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-xl-4" style="border-bottom:1px solid #ddd;padding-bottom: 2px">
                            <div class="col-md-2  p-t-2 filter-section-title p-l-1" style="margin: 0 0 19px;">Search</div>
	                        <div class="col-md-9 p-t-1 p-b-1">
	                        	<input type="text" class="k-textbox input-box-custom" ng-model="searchQuery" ng-keyup="fetchResultSet();">
	                        </div>
                        </div>

                    </div>

                    <div class="col-xl-12">
                        <div class="col-xl-12">
                          <div class="card-block">
							<div class="kendo-grid-team-permission custom-table-2" k-sortable="true" kendo-grid k-data-source="observableList" k-columns="gridColumns" k-options="gridOptions"></div>
						  </div>
                        </div>
                    </div>

                </div>
        </div><!--.row-->

    </div><!--.container-fluid-->
</div><!--.page-content-->


<!-- Delete Confirmation modal starts -->
<script type="text/ng-template" id="deleteConfimationModal.html">
	<div class="custom-modal small">
        <div class="modal-content">
        	<div class="modal-header row">
        		<kendo-button class="close-icon" ng-click="dismissModal()"><i class="fa fa-times fa-sm" aria-hidden="true"></i></kendo-button>
        		<h5 class="title">Delete Confirmation</h5>
        	</div>
	        <div class="modal-body row">
		        <div class="col-sm-12 m-b-1">
			        <div class="row">
                        <div class="col-sm-12">
                        	<p class="message">{{message}}</p>
                        </div>
			        </div>
		        </div>
		        <div class="col-sm-12 text-center">
	        		<kendo-button type="button" ng-click="confirmDelete()">Confirm</kendo-button>
		        </div>
	        </div>
   		</div>
   	</div>
</script>
<!-- Delete Confirmation modal ends -->
