<div class="page-content main-page-content-load" style="padding-left: 0px;padding-top: 80px;background-color: #F6FAFB;padding-right: 0px;">
	<div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 p-l-0 p-r-0" style="background-color: #FFF">
                <div class="header_content">
	                <div class="col-xl-10 add_page_heading product-map-border" style="">
	                	<div class="site-content-page-heading p-t-1">
	                		<span style="color:#222">{{sessionInfo.CompanyName}}</span>
	                		<span style="padding-left: 50px;font-size: 15px;color:#16B4FC;"><i class="fa fa-play"></i></span>
	                		<span style="padding-left: 45px;">Product Mapping to Division</span>
	                	</div>
	            	</div>

		            <div class="col-xl-2" style="border-bottom:1px solid #ddd;padding-bottom: 11px">
		                <a ui-sref="admin.divisions">
		                    <div class="col-md-6 m-t-2 filter-section-title text-center p-r-0 back-link-text">Back To List</div>
		                    <div class="col-md-2 m-t-2 back-link-icon"><i class="glyphicon glyphicon-triangle-left"></i></div>
		                    <div class="clearfix"></div>
		                </a>
		            </div>
            		<div class="clearfix"></div>
				</div>

                <div class="col-xl-12 content-section-align">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12 label_head">
                                <fieldset class="form-group m-all-0">
                                    <label class="form-label font-15 text-color-blue" for="exampleInput">
                                    	Automatic Mapping <span class="text-color-grey-pro-map"> Upload Excel or drop Excel file in the area below</span>
                                    </label>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                        	<div class="col-lg-4 label_sub">
	                            <fieldset class="form-group">
	                                <label class="form-label filter-section-title" for="">Division Name</label>
	                                <select kendo-combo-box
										 k-placeholder="'Search by Division name'"
										 k-data-source="divisionColl"
										 k-data-text-field="'DivisionName'"
										 k-data-value-field="'DivisionID'"
										 k-auto-bind="true"
										 k-value-primitive="true"
										 k-min-length="2"
										 k-ng-model="mapProdDiv.DivisionID"
										 k-filter="'contains'"
										 name="divisionName"
										 class="width-100">
									</select>
	                            </fieldset>
	                        </div>
                        </div>
                        <div class="row border-box-for-upload">
                        	<div class="col-md-6 border-right-for-upload">
                        		<div class="text-center img-for-drag-file"
                            		file="image" file-name="imageFileName" data-max-file-size="3">
                                    <label class="dropZoneContainer">
                                    	<!-- <img src="content/img/c.png" height="80"> -->
                                        <input type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                        ng-model="ExcelFile" file-drop-zone="" placeholder="Drop Files Here"/>
                                        <p class="title"></p>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 border-right-for-upload-btn">
                                <div class="btn-move-right">
                                    <label class="fileContainer">
                                        <span class="name"></span>
                                        <input type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                        ng-model="ExcelFile" data-bind-file-content=""/>
                                    </label>
                            	</div>
                            </div>
                        </div>
                        
                        <div class="row map-product-wrapper">
                        	<div class="col-md-4" style="float:right">
								<kendo-button class="k-primary kendo-btn-for-map-product" ng-click="bulkMapProductsToDivision();">Map Selected Product to division</kendo-button>
							</div>
                        </div>
                        
                        <div class="col-lg-4 label_head_manual_mapping">
                            <fieldset class="form-group">
                                <label class="form-label  font-15 text-color-blue" for="exampleInput">Manual Mapping</label>
                            </fieldset>
                    	</div>
                                
	                    <div class="row">
	                        <form class="col-sm-12 map-selected-for-pro" name="masterForm" ng-submit="mapProductToDivision()">
	                        	<div class="col-lg-4 label_sub">
		                            <fieldset class="form-group">
		                                <label class="form-label filter-section-title" for="">Division Name</label>
		                                <select kendo-combo-box
											 k-placeholder="'Search by Division name'"
											 k-data-source="divisionColl"
											 k-data-text-field="'DivisionName'"
											 k-data-value-field="'DivisionID'"
											 k-auto-bind="true"
											 k-value-primitive="true"
											 k-min-length="2"
											 k-ng-model="mapProdDiv.DivisionID"
											 k-filter="'contains'"
											 k-on-change="FetchProductsByCompanyDivisions()"
											 name="divisionName"
											 class="width-100">
										</select>
		                            </fieldset>
		                        </div>
	                            <div class="col-lg-4 label_sub">	<!-- <span class="mandatory-sign">&#42;</span> -->
	                                <fieldset class="form-group">
	                                	<label class="form-label filter-section-title" for="">Product Name
	                                		<span class="pull-right" ng-if="fasle">This field is required</span>
	                                	</label>
	                                	<select kendo-combo-box
		                                    k-placeholder="'Select Product'"
											k-data-source="productList"
											k-data-text-field="'ProductName'"
											k-data-value-field="'PFCID'"
											k-value-primitive="true"
											k-auto-bind="true"
											k-min-length="2"
											k-filter="'contains'"
											k-ng-model="mapProdDiv.PFCID"
											name="productName"
		                                    class="width-100">
		                                </select>
	                                </fieldset>
	                            </div>
		                        <div class="col-lg-4 label_sub_btn">
		                            <kendo-button class="k-primary kendo-btn-for-map-product" style="margin-top:21px">Map Selected Product to division</kendo-button>
		                        </div>
	                    	</form>
	                    </div>

		            <div class="row">
		               <div class="col-sm-12" style="padding-top: 10px">
		                   
	                        <section class="card card-blue" style="border-color: #efefef;">
	                            <header class="card-header" style="background-color:#f6fafb; font-size: 18px; font-weight:600; border-bottom-color: #efefef;">
	                                Products belonging to Division
	                            </header>
	                            
	                            <div class="card-block" style="padding:0px">
	                            	<div class="kendo-grid-team-permission custom-table-2" k-sortable="true" kendo-grid k-data-source="products" k-columns="gridColumns" k-options="gridOptions"></div>
	                            </div>
	                        </section>
	                    </div> 
	                </div>
	            </div>
	        </div>
	    </div>
    
		</div><!--.row-->
	</div><!--.container-fluid-->
</div><!--.page-content-->

