<div class="page-content main-page-content">
    <div class="container-fluid main-container-fluid">
        <div class="row">
            <div class="filter-area">
            	<div class="filter-area-inner" slimscroll="rootScope.slimScrollOptions_2">
	                <div class="col-md-10 p-l-0 p-r-0 margin-b-15">
	                    <p class="filter-section-title">Load Preset</p>
	                    <select kendo-combo-box
          						 k-placeholder="'Select a Preset'"
          						 k-data-source="presetsColl"
          						 k-data-text-field="'SearchKey'"
          						 k-data-value-field="'SearchKeyID'"
          						 k-auto-bind="true"
          						 k-value-primitive="true"
          						 k-min-length="2"
          						 k-ng-model="selectedPreset"
          						 k-filter="'contains'"
          						 k-on-change="applySelectedPreset()"
          						 class="width-100"                      
                       >
          						</select>

	                </div>
                  <div class="p-l-0 p-r-0 margin-b-15 trash-icon" style="display:inline-block"><span ng-click="deleteConfirmationModal(selectedPreset)"><i class="fa fa-trash-o" aria-hidden="true"></i></span></div>
                  <div class="clearfix"></div>
	                <form class="" ng-submit="displayResult()">
	                    <!-- <div class="filter-area-heading">Filter Data</div> -->
	                    <div class="filter-section" style="border:0px">
	                        <p class="filter-section-title">Select Geography</p>
	                        <div class="radio">
	                            <input type="radio" name="filter_options" id="radio-1" ng-value="'zone'" ng-model="fetchData.GeographyFilter" ng-disabled="true">
	                            <label for="radio-1" class="m-r-1 font-14">Zone </label>
	                            <input type="radio" name="filter_options" id="radio-2" ng-value="'state'" ng-model="fetchData.GeographyFilter" ng-disabled="true">
	                            <label for="radio-2" class="m-r-1 font-14">State </label>
	                            <input type="radio" name="filter_options" id="radio-3" ng-value="'city'" ng-model="fetchData.GeographyFilter">
	                            <label for="radio-3" class="m-r-1 font-14">City </label>
	                        </div>
	                        <div class="col-md-12 p-b-1 p-l-0 p-r-0">
	                            <select kendo-combo-box
									 k-placeholder="'Search...'"
									 k-data-source="geographyColl"
									 k-data-text-field="'GeographyValue'"
									 k-data-value-field="'GeographyID'"
									 k-auto-bind="true"
									 k-value-primitive="true"
									 k-min-length="2"
									 k-ng-model="fetchData.GeographyID"
									 k-filter="'contains'"
									 k-on-change="geographySelected()"
									 class="width-100">
								</select>
	                        </div>
	                        <div class="col-md-12 p-l-0 p-r-0 p-b-1">
	                            <p class="filter-section-title">Select Patch</p>

								<ui-select multiple ng-model="$parent.selectedPatches" theme="bootstrap" title="Search an Item" name="multipleSelect" close-on-select="false">
									<ui-select-match placeholder="All">{{$item.BrickName}}</ui-select-match>
									<ui-select-choices repeat="item.BrickID as item in bricksColl | propsFilter: {BrickName:$select.search}" minimum-input-length="0"
													   refresh-delay="0">
										<div ng-bind-html="item.BrickName | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
	                        </div>

	                        <!-- <div class="col-md-12 p-l-0 p-r-0 p-b-1" ng-if="(divisionColl !== undefined) && (divisionColl.length > 1)">
	                            <p class="filter-section-title">Divisions</p>
								<select kendo-combo-box
								 k-placeholder="'Select Division'"
								 k-data-source="divisionColl"
								 k-data-text-field="'DivisionName'"
								 k-data-value-field="'DivisionID'"
								 k-auto-bind="true"
								 k-value-primitive="true"
								 k-min-length="2"
								 k-ng-model="fetchData.DivisonID"
								 k-filter="'contains'"
								 class="width-100">
								</select>
	                       	</div> -->
	                    </div>

	                    <div class="filter-section">
	                        <div class="col-md-12 p-l-0 p-r-0 p-b-1">
	                            <p class="filter-section-title">Period Type</p>
	                            <select kendo-combo-box
	                                k-placeholder="'Period Type'"
	                                k-data-source="periodTypeColl"
	                                k-data-text-field="'SubscriptionPeriodTypeName'"
	                                k-data-value-field="'SubscriptionPeriodTypeID'"
	                                k-auto-bind="true"
	                                k-value-primitive="true"
	                                k-min-length="2"
	                                k-ng-model="PeriodTypeID"
	                                k-filter="'contains'"
	                                k-on-change="periodTypeChanged()"
	                                class="width-100">
								</select>
	                        </div>

	                        <div class="col-md-12 p-l-0 p-r-0 p-b-1">
	                            <div class="col-md-6 p-a-0 p-r-1">
	                                <p class="filter-section-title">Start Time</p>
	                                <select kendo-combo-box
	                                    k-placeholder="'Start Time'"
	                                    k-data-text-field="'MonthYear'"
	                                    k-data-value-field="'TimePeriodID'"
	                                    k-auto-bind="true"
	                                    k-value-primitive="true"
	                                    k-min-length="2"
	                                    k-data-source="timePeriods"
	                                    k-filter="'contains'"
	                                    k-ng-model="period.startPeriod"
	                                    k-on-change="timeSelected(kendoEvent)"
	                                    class="width-100">
	                                </select>
	                            </div>

	                            <div class="col-md-6 p-a-0 p-l-1 p-r-0">
	                                <p class="filter-section-title">End Time</p>
	                                <select kendo-combo-box
	                                    k-placeholder="'End Time'"
	                                    k-data-text-field="'MonthYear'"
	                                    k-data-value-field="'TimePeriodID'"
	                                    k-value-primitive="true"
	                                    k-auto-bind="true"
	                                    k-min-length="2"
	                                    k-data-source="timePeriods"
	                                    k-filter="'contains'"
	                                    k-ng-model="period.endPeriod"
	                                    k-on-change="timeSelected(kendoEvent)"
	                                    class="width-100">
	                                </select>
	                            </div>
	                        </div>
	                    </div>

	                    <div class="">
	                        <div class="col-md-12 p-b-1 p-l-0 p-r-0">
	                            <p class="filter-section-title">Comparison Type</p>
	                            <select kendo-combo-box
									k-placeholder="'Select...'"
									k-data-source="comparisonType"
									k-data-text-field="'title'"
									k-data-value-field="'value'"
									k-value-primitive="true"
									k-auto-bind="true"
									k-min-length="3"
		    						k-filter="'contains'"
		    						k-ng-model="fetchData.ComparisonType"
									k-on-change="comparisonTypeChanged()"
									class="width-100">
								</select>
	                            <div class="clearfix"></div>
	                        </div>

	                        <div class="filter-section">
	                            <div class="col-md-12 p-l-0 p-r-0 p-b-1" ng-if="fetchData.ComparisonType === 'brand'">
	                                <p class="filter-section-title">Therapy Class</p>
	                                <select kendo-combo-box
	                                    k-placeholder="'Therapy Class'"
	                                    k-data-source="TherapyClassColl"
	                                    k-data-text-field="'type'"
	                                    k-data-value-field="'value'"
	                                    k-auto-bind="true"
	                                    k-value-primitive="true"
	                                    k-min-length="2"
	                                    k-ng-model="fetchData.TCLevel"
	                                    k-on-change="fetchTherapyListByTherapyCode()"
	                                    k-filter="'contains'"
	                                    class="width-100">
									</select>
	                            </div>
	                       </div>
	                       <div class="m-t-1">
	                            <div class="col-md-12 p-l-0 p-r-0 p-b-1" ng-if="fetchData.ComparisonType === 'brand'">
	                                <p class="filter-section-title">Select Therapy</p>
                                    <ui-select multiple ng-model="selected.Therapies" theme="bootstrap" title="Search an Item" name="multipleSelect"
                                     close-on-select="false" uis-open-close="therapiesSelected(isOpen)" on-remove="therapiesRemoved($item, $model)">
                                        <ui-select-match placeholder="">{{$item.TherapyName}}</ui-select-match>
                                        <ui-select-choices repeat="item.TherapyCode as item in therapyList | propsFilter: {TherapyName: $select.search}"
                                        minimum-input-length="0" refresh-delay="0">
                                            <div ng-bind-html="item.TherapyName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
	                            </div>
	                        </div>


							<div ng-show="plottype1=='companyvscompany'">
	                            <div class="col-md-12 p-b-1 p-l-0 p-r-0">
	                                <p class="filter-section-title">Comparison Type</p>
									<select kendo-combo-box
										 k-placeholder="'Company to Company'"
										 k-data-text-field="'company'"
										 k-auto-bind="true"
										 k-min-length="3"
										 k-filter="'contains'"
										 k-data-source="mapviewCompany"
										 k-filter="'contains'"
										 class="width-100 mapview-combo">{{ mapviewCompany.company }}
									 </select>
	                            	<div class="clearfix"></div>
	                        	</div>

	                        	<div class="col-md-12 p-b-1 p-l-0 p-r-0">
	                                <p class="filter-section-title">Select your Therapy Area</p>
	                                <select kendo-combo-box
	                                     k-placeholder="'Company to Company'"
	                                     k-data-text-field="'company'"
	                                     k-auto-bind="true"
	                                     k-min-length="3"
	                                     k-filter="'contains'"
	                                     k-data-source="mapviewCompany"
	                                     k-filter="'contains'"
	                                     class="width-100 mapview-combo">{{ mapviewCompany.company }}
	                                 </select>
	                           	 	<div class="clearfix"></div>
	                        	</div>

	                            <div class="col-md-12 p-b-1 p-l-0 p-r-0">
	                                <p class="filter-section-title">Select your Brands</p>
	                                <select kendo-combo-box
	                                     k-placeholder="'Company to Company'"
	                                     k-data-text-field="'company'"
	                                     k-auto-bind="true"
	                                     k-min-length="3"
	                                     k-filter="'contains'"
	                                     k-data-source="mapviewCompany"
	                                     k-filter="'contains'"
	                                     class="width-100 mapview-combo">{{ mapviewCompany.company }}
	                                 </select>
	                                <div class="clearfix"></div>
	                            </div>
	                        </div>

	                        <div ng-show="plottype1=='companysales'">
	                            <div class="col-md-12 p-b-1 p-l-0 p-r-0">
	                                <p class="filter-section-title">Measure By</p>
	                                <select kendo-combo-box
	                                     k-placeholder="'Company to Company'"
	                                     k-data-text-field="'company'"
	                                     k-auto-bind="true"
	                                     k-min-length="3"
	                                     k-filter="'contains'"
	                                     k-data-source="mapviewCompany"
	                                     k-filter="'contains'"
	                                     class="width-100 mapview-combo">{{ mapviewCompany.company }}
	                                 </select>
	                            	 <div class="clearfix"></div>
	                            </div>
	                            <div class="col-md-12 p-b-1 p-l-0 p-r-0">
	                                <p class="filter-section-title">Select your Therapy Area</p>
	                                <select kendo-combo-box
	                                     k-placeholder="'Company to Company'"
	                                     k-data-text-field="'company'"
	                                     k-auto-bind="true"
	                                     k-min-length="3"
	                                     k-filter="'contains'"
	                                     k-data-source="mapviewCompany"
	                                     k-filter="'contains'"
	                                     class="width-100 mapview-combo">{{ mapviewCompany.company }}
	                                 </select>
	                                <div class="clearfix"></div>
	                            </div>
	                        </div>

	                        <div class="m-t-1">
	                            <div class="col-md-12 p-l-0 p-r-0 p-b-0 m-t-0">
	                                <p class="filter-section-title">
	                                    Select
	                                    <span ng-if="fetchData.ComparisonType === 'company'">Companies</span>
	                                    <span ng-if="fetchData.ComparisonType === 'brand'">Brand</span>
	                                </p>
									<ui-select multiple ng-model="selected.selectedTypes" theme="bootstrap" title="Search an Item" name="multipleSelect"
									close-on-select="false">
										<ui-select-match placeholder="">{{$item.ComparisonValue}}</ui-select-match>
										<ui-select-choices repeat="item.ComparisonID as item in filteredCategoryValues" minimum-input-length="2"
										refresh="filterCategoryValues($select.search)" refresh-delay="0">
											<div ng-bind-html="item.ComparisonValue | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</div>

								<div class="col-md-12 p-l-0 p-r-0 m-t-1" ng-if="selected.selectedTypes.length > 0">
		                            <div class="checkbox m-all-0">
		                                <input type="checkbox" id="includeSearches" ng-true-value="1" ng-false-value="0" ng-model="fetchData.includeTopSearches">
		                                <label for="includeSearches">Include Top Searches</label>
		                            </div>
		                        </div>
	                        </div>
							<div class="clearfix"></div>
	                    </div>

	                    <div class="form-group m-t-1">
	                        <div class="col-lg-12 p-l-0 p-r-0">
							   <kendo-button type="submit" class="btn-competitiveteam">Start Comparison</kendo-button>
	                        </div>
	                        <div class="clearfix"></div>
	                    </div>

	                    <div class="form-group">
	                        <fieldset class="form-group col-md-12 p-l-0 p-r-0">
	                            <div class="checkbox m-all-0">
	                                <input type="checkbox" id="savePreset" ng-model="SavePresetFlag">
	                                <label for="savePreset">Save Preset</label>
	                            </div>
	                        </fieldset>

	                        <div class="form-group col-md-12 p-l-0 p-r-0" ng-show="(SavePresetFlag)">
	                        	<div class="custom-input-group">
	                        		<input type="text" class="k-textbox input-box-custom border-0 width-70 custom-input" name="presetname" ng-model="PresetName" placeholder="Define Preset Name" maxlength="50">
	                        		<kendo-button class="k-primary btn-save-team-name width-30 btn-violet custom-button" on-click="savePreset();" ng-disabled="(PresetName === undefined) || (PresetName === '')">SAVE</kendo-button>
	                        	</div>
	                        </div>
						</div>
	                </form>
				</div>
			</div>

            <div class="site-main-content block-content">
                <div class="row header_content main-page-content-load" style="margin-left: 0">
                    <div class="col-xl-12 map-view-top-content">
                    	<div class="row">
                    		<div class="col-xl-10">
                    			<div class="site-content-page-heading">
									<span ng-if="comparisonData === 'company'">Company vs Company</span>
									<span ng-if="comparisonData === 'brand'">Brand vs Brand</span> Comparison
									<div class="input-group" style="display:inline; margin-left:35%;">
										<div class="btn-group radio-group">
										   <label class="btn btn-primary not-active CVMbutton">CVM 
												<input type="radio" ng-model="fetchData.DataType" ng-value="'cvm'" ng-change="cvmRadioChanged()">
											</label>
										   <label class="btn btn-primary CVMbutton">IPM 
												<input type="radio" ng-model="fetchData.DataType" ng-value="'npm'" ng-change="cvmRadioChanged()">
											</label>
										</div>
									</div>
								</div>
		                        <p class="filter-section-title" style="padding-left:40px; margin-top: 0;">
			                  		<span>{{GeographyName}}</span>
			                  		<!-- <span style="margin-left:20px">{{TherapyName}}</span> -->
			                  	</p>
                    		</div>
                    		<div class="col-xl-2">
								<select ng-options="item as item.label for item in unitOfMeasuresColls" ng-model="unitOfMeasures"
                                ng-change="UOM_changed({uomFlag:'$scope.UOM_set_flag = true'})"
								ng-disabled="mapviewData === undefined" class="custom-select-1 margin-r-10">
								</select>
		                    </div>
                    	</div>
                    </div>
                </div>

                <!-- <div id="map_canvas" style="height: 100%; width: 100%;"></div> -->
            	<div class="map-wrapper" style="">
				    <ng-map zoom="12" center="{{mapCenter}}" class="height-for-map-full-view" id="comparison-map" style="height: 100%" options="{{options}}" on-zoom_changed="zoomChanged()">
						<!-- <shape id="polygon" name="polygon" stroke-color="#e12f3b" stroke-opacity="1.0" stroke-weight="2" fill-color="rgba(125,125,125,0.7)"
						   ng-repeat="item in polyCoords" paths="{{item}}" on-click="polyClick(this)">
						</shape> -->
						<!-- <custom-marker ng-repeat="item in polyCenters" position="{{item.lat}}, {{item.lng}}">
							<div class="map-label-custom">{{item.pincode}}</div>
						</custom-marker> -->

						<!-- <custom-marker position="15.466162520905005, 73.84904861391988">
							<div class="map-label-custom"></div>
							<div id="tiny-pie-chart" class="pie-chart-container"></div>
						</custom-marker> -->

						<custom-marker ng-repeat="item in pie_charts" position="{{item.lat}}, {{item.lng}}" ng-init="currentIndex = $index">
							<div class="">
								<div class="enlargedChart" uib-dropdown="" auto-close="outsideClick">
									<div google-chart chart="{{item.map_chart}}" uib-dropdown-toggle=""></div>
									<div uib-dropdown-menu="">
										<div class="row">
											<div class="col-xs-12 head">
												{{item.name}}
												<span class="glyphicon glyphicon-triangle-left arrow" aria-hidden="true"></span>
											</div>
											<div class="col-xs-12 body">
												<div class="row">
													<div class="col-xs-1">&nbsp;</div>
													<div class="col-xs-6 text-bold">Market Value</div>
													<div class="col-xs-5 text-bold text-right">
														{{ DivideAndRound(percentArray[currentIndex][0].totalValue, unitOfMeasures.divisor, unitOfMeasures.decimal) + ' ' + (unitOfMeasures.unit || '') }}
													</div>
												</div>
												<div class="row clickable" ng-repeat="elem in percentArray[currentIndex]" ng-if="$index > 0"
													ng-click="toggleSelectedSection(this, $index);">
													<div class="col-xs-7">
														<div class="col-xs-1"><i class="fa"  ng-class="{'fa-circle':!(elem.omitted), 'fa-circle-o':elem.omitted}"
															aria-hidden="true" style="color:{{elem.color}}"></i></div>
														<div class="col-xs-11">{{elem.name}}</div>
													</div>
													<div class="col-xs-5 text-bold text-right">
														{{ DivideAndRound(elem.value, unitOfMeasures.divisor, unitOfMeasures.decimal) + ' ' + (unitOfMeasures.unit || '') }}
														&nbsp;&nbsp;
														{{elem.percent + '%'}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div style="width:100px">{{item.name}}</div>
							</div>
						</custom-marker>

				    </ng-map>
			    </div>
            </div> <!--.site-main-content-->

		</div><!--.row-->

    </div><!--.container-fluid-->
</div><!--.page-content-->
<!-- Delete Confirmation modal starts -->
<script type="text/ng-template" id="deleteConfimationModal.html">
	<div class="custom-modal small">
        <div class="modal-content">
        	<div class="modal-header row">
        		<kendo-button class="close-icon" ng-click="dismissModal()"><i class="fa fa-times fa-sm" aria-hidden="true"></i></kendo-button>
        		<h5 class="title">Delete Confirmation</h5>
        	</div>
	        <div class="modal-body row">
		        <div class="col-sm-12 m-b-1">
			        <div class="row">
                        <div class="col-sm-12">
                        	<p class="message">{{message}}</p>
                        </div>
			        </div>
		        </div>
		        <div class="col-sm-12 text-center">
	        		<kendo-button type="button" ng-click="confirmDelete()">Confirm</kendo-button>
		        </div>
	        </div>
   		</div>
   	</div>
</script>
<!-- Delete Confirmation modal ends -->
