<div class="page-content  main-page-content-load" style="padding-left: 0px;padding-top: 80px;background-color: #F6FAFB;padding-right: 0px;">
    <div class="container-fluid">
            <div class="row">

                <div class="col-xl-12 p-l-0 p-r-0" style="background-color: #FFF">
                    <div class="header_content" style="">
                        <div class="col-xl-4" style="border-right:1px solid #ddd;border-bottom:1px solid #ccc;padding:10px;padding-bottom: 15px;color:#16b4fc">
                            <div class="site-content-page-heading p-t-1"><span style="color:#222">User List</span> <i class="fa fa-plus-circle m-l-1"></i>
                            	<a href="javascript:void(0)" ui-sref="admin.addnewuser"><span class="font-16">New User</span></a>
                            </div>
                        </div>

                        <div class="col-xl-4" style="border-right:1px solid #ddd;border-bottom:1px solid #ccc;padding:0;">
                            <div class="col-xl-3">
                                <div class="filter-section-title updated-1">Total Users</div>
                                <div class="member-count font-22 font-weight-bold padding-left-10">{{totalUserCount}}</div>
                            </div>
                            
                            <div class="col-xl-1" style="color:#16b4fc">
                                <i class="fa fa-play m-t-2"></i>
                            </div>

                            <div class="col-xl-8" style="padding-bottom: 0;">
                                <div class="col-md-2  p-t-1 filter-section-title updated-1 p-l-1 m-all-0">User Breakup</div>
                                <div class="col-md-10 p-t-1 p-b-1" style="padding-bottom:9px !important">
									<select kendo-combo-box
									 k-placeholder="'Select Role'"
									 k-data-source="UserCountColl"
									 k-data-text-field="'RoleName'"
									 k-data-value-field="'CompanyUserRoleID'"
									 k-auto-bind="true"
									 k-value-primitive="true"
									 k-min-length="0"
									 k-ng-model="SelectedUserRole"
									 k-filter="'contains'"
									 class="width-100" name="user_count">
									</select>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="col-xl-4" style="border-bottom:1px solid #ddd;padding-bottom: 1px;">
                            <div class="col-md-2  p-t-2 filter-section-title p-l-1">Search</div>
                            <div class="col-md-9 p-t-1 p-b-1">
                            	<input type="text" class="k-textbox input-box-custom" ng-model="searchQuery" ng-keyup="fetchResultSet();">
                            </div>
                        </div>
                        
					</div>
					
					<div class="col-xl-12">
                        <div class="col-xl-12">
                          <div class="card-block">
							<div class="kendo-user-list custom-table-2 table-scrollable" kendo-grid="gridObject" k-data-source="users" k-sortable="true" k-columns="userListCols" k-options="gridOptions"></div>
						  </div>
                        </div>
                    </div>

                </div>
        </div><!--.row-->

    </div><!--.container-fluid-->
</div><!--.page-content-->


<!-- Change password modal starts -->
<script type="text/ng-template" id="setPasswordModal.html">
	<div class="custom-modal">
        <div class="modal-content">
        	<div class="modal-header row">
        		<h4 class="title">Set Password</h4>
        		<kendo-button class="close-icon" ng-click="dismissModal()"><i class="fa fa-times fa-lg" aria-hidden="true"></i></kendo-button>
        	</div>
	        <div class="modal-body row">
		        <div class="col-sm-12">
			        <div class="row">
                        <form class="form-horizontal col-sm-12">
							<div class="form-group row">
								<label for="newPassword" class="col-sm-3 control-label">New Password</label>
								<div class="col-sm-9">
									<input type="password" class="form-control" id="newPassword" ng-model="passwords.NewPassword">
								</div>
							</div>
							<div class="form-group row">
								<label for="confirmPassword" class="col-sm-3 control-label">Confirm Password</label>
								<div class="col-sm-9">
									<input type="password" class="form-control" id="confirmPassword" ng-model="ConfirmPassword">
									<div class="error-msg" ng-if="showError">Passwords mismatched</div>
								</div>
							</div>
                        </form>
			        </div>
		        </div>
		        <div class="col-sm-12 text-center">
		        	<div class="col-sm-3">&nbsp;</div>
		        	<div class="col-sm-9 text-left">
		        		<kendo-button type="button" ng-click="setNewPassword()">Set New Password</kendo-button>
		        	</div>
		        </div>
	        </div>
   		</div>
   	</div>
</script>
<!-- Change password modal ends -->


<!-- Delete Confirmation modal starts -->
<script type="text/ng-template" id="deleteConfimationModal.html">
	<div class="custom-modal small">
        <div class="modal-content">
        	<div class="modal-header row">
        		<kendo-button class="close-icon" ng-click="dismissModal()"><i class="fa fa-times fa-sm" aria-hidden="true"></i></kendo-button>
        		<h5 class="title">Delete Confirmation</h5>
        	</div>
	        <div class="modal-body row">
		        <div class="col-sm-12 m-b-1">
			        <div class="row">
                        <div class="col-sm-12">
                        	<p class="message">{{message}}</p>
                        </div>
			        </div>
		        </div>
		        <div class="col-sm-12 text-center">
	        		<kendo-button type="button" ng-click="confirmDelete()">Confirm</kendo-button>
		        </div>
	        </div>
   		</div>
   	</div>
</script>
<!-- Delete Confirmation modal ends -->
