<div class="page-content main-page-content-load" style="padding-left: 0px;padding-top: 80px;background-color: #F6FAFB;padding-right: 0px;">
    <div class="container-fluid">
            <div class="row">

                <div class="col-xl-12 p-l-0 p-r-0" style="background-color: #FFF">
                    <div class="header_content">
                        <div class="col-xl-12 add_page_heading" style="">
                            <div class="site-content-page-heading p-t-1 col-xl-6"><span style="color:#222">User Profile</span></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-xl-12">
                        <div class="card-block col-xl-10 offset-xl-1">
                            <div class="row">
                                <div class="col-lg-12 label_head">
                                    <fieldset class="form-group">
                                        <div class="col-xl-10 p-l-3 m-l-1">
                                            <label class="form-label text-uppercase p-r-2 p-l-3 font-18 text-color-grey" for="exampleInput">User Profile Information</label>
                                        </div>
                                    </fieldset>
                                </div>
                                
                                <div class="col-lg-4 label_sub">
                                    <div class="imageBrowseWrapper">
										<div class="title">Company Logo</div>
										<div class="img-wrapper">
											<img src="{{imgDataUrl}}" class="img-resp">
										</div>
										<div>
											<kendo-button type="button" ng-click="openImgChangeModal()" class="browse-button btn-violet">Upload Logo</kendo-button>
										</div>
									</div>
                                </div>
                                
                                
                                <div class="col-lg-4 col-lg-offset-2 label_sub">
                                	<fieldset class="form-group">
                                        <label class="form-label filter-section-title" for="">User Name</label>
										<input type="text" class="k-textbox input-box-custom" ng-model="user.UserName" placeholder="User name..." ng-readonly="true" />
                                    </fieldset>
                                    
                                    <fieldset class="form-group" ng-if="(divisionColl !== undefined) && (divisionColl.length > 1)">
			                            <label class="form-label filter-section-title" for="">Divisions</label>
										<select kendo-combo-box
											 k-placeholder="'Select Division'"
											 k-data-source="divisionColl"
											 k-data-text-field="'DivisionName'"
											 k-data-value-field="'DivisionID'"
											 k-auto-bind="true"
											 k-value-primitive="true"
											 k-min-length="2"
											 k-ng-model="user.DivisionID"
											 k-filter="'contains'"
											 k-on-change="FetchUserRolesByCompany()"
											 class="width-100">
										</select>
			                        </fieldset>
                                    
                                    <fieldset class="form-group">
                                        <label class="form-label filter-section-title" for="">Role</label>
										<select kendo-combo-box
											k-placeholder="'Select Designation'"
											k-data-source="RolesColl"
											k-data-text-field="'RoleName'"
											k-data-value-field="'RoleID'"
											k-value-primitive="true"
											k-ng-model="user.CompanyRoleID"
											k-auto-bind="true"
											k-min-length="2"
											k-filter="'contains'"
											k-on-change="FetchReportingPerson()"
											class="width-100">
										</select>
                                    </fieldset>
                                    
                                    <fieldset class="form-group">
                                        <label class="form-label filter-section-title" for="exampleInput">Reporting Person</label>
										<select kendo-combo-box
											 k-placeholder="'Select Reporting Person'"
											 k-data-source="ReportingPersons"
											 k-data-text-field="'title'"
											 k-data-value-field="'id'"
											 k-value-primitive="true"
											 k-ng-model="user.ReportingManagerID"
											 k-auto-bind="true"
											 k-min-length="2"
											 k-filter="'contains'"
											 class="width-100">
									 	</select>
                                    </fieldset>
                                    
                                    <fieldset class="form-group">
                                        <label class="form-label filter-section-title" for="email">Email</label>
                                        <input type="text" class="k-textbox input-box-custom" id="email" ng-model="user.Email" placeholder="Email id..." maxlength="100" >
                                    </fieldset>
                                    
                                    <fieldset class="form-group">
                                        <label class="form-label filter-section-title" for="phone">Mobile No.</label>
                                        <input type="number" class="k-textbox input-box-custom no-spinner" id="phone" ng-model="user.MobileNo" placeholder="Mobile No..." maxlength="15" >
                                    </fieldset>
                                    
                                    <fieldset class="form-group">
                                        <label class="form-label filter-section-title" for="Pincode">Pincode</label>
                                        <input type="number" class="k-textbox input-box-custom no-spinner" id="Pincode" ng-model="user.Pincode" placeholder="Pincode..." maxlength="6" >
                                    </fieldset>
                                    
                                    <fieldset class="form-group">
                                        <div class="checkbox">
                                            <input type="checkbox" id="action" ng-model="user.Active" ng-true-value="1" ng-false-value="0">
                                            <label for="action">Active</label>
                                        </div>
                                    </fieldset>
                                    
                                    <fieldset class="form-group">
                                    	<kendo-button class="k-primary btn-save-team-name width-100-imp" ng-click="saveFormData()">Save Profile Info</kendo-button>
                                    </fieldset>
                                </div>
                            </div>
                            <h5 class="with-border m-t-lg"></h5>
                        </div>
	        		</div>

                </div>
        </div><!--.row-->

    </div><!--.container-fluid-->
</div><!--.page-content-->


<!-- Image Change modal starts -->
<script type="text/ng-template" id="imgChangeModal.html">
	<div class="custom-modal">
        <div class="modal-content">
        	<div class="modal-header row">
        		<h4 class="title">Upload Media</h4>
        		<kendo-button class="close-icon" ng-click="dismissModal()"><i class="fa fa-times fa-lg" aria-hidden="true"></i></kendo-button>
        	</div>
	        <div class="modal-body row">
		        <div class="col-sm-12">
			        <div class="row">
                        <div class="col-xl-12 text-center">
                        	<div class="imgFrame">
                            	<img ng-src="{{parent.imgUrl}}" class="img-resp">
                            </div>
                            <div class="btn btn-browse customized-file form-control width-25">
		                    	<input class="form-control" type="file" placeholder="File" name="image-file" id="image-file" accept="image/*"
		                    		ng-model="parent.ProfileImage" file-input="" ng-change="parent.imageView()">
		                    	<label class="file-label btn-purple" for="image-file">Browse to upload</label>
		                    </div>
                        </div>                                            
			        </div>
			        
			        <div class="row m-y-1 fancy-divider">
			        	<div class="col-xl-12">
				        	<div class="block width-45"><hr/></div>
				        	<div class="block width-10">OR</div>
				        	<div class="block width-45"><hr/></div>
				        </div>
			        </div>
			        
			        <div class="row">
			        	<div class="col-xl-12">Pick an Avatar</div>
			        	<div class="col-xl-12 avatarBox">
			        		<div class="row">
			        			<div class="col-xl-4 wrapper" ng-repeat="item in parent.avatarsList" ng-click="parent.avatarIsSelected(item)">
			        				<img src="{{parent.baseURL + 'avatars/' + item}}" class="img-resp">
			        			</div>
			        		</div>
			        	</div>
			        </div>
			        
			        <div class="row footer">
			        	<kendo-button type="button" ng-click="closeModal()" ng-disabled="!(parent.imgBrowsed) && !(parent.avatarSelected)">Confirm</kendo-button>
			        </div>
		        </div>
	        </div>
   		</div>
   	</div>
</script>
<!-- Image Change modal ends -->
