/* =============================================
    ngFader
    Created by: Jason Voirin
    http://www.jasonvoirin.com/ngfader
================================================*/
.ng-fader {
    background-color: #000;
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 22
}
.ng-fader ul {
    height: 100%;
    margin: 0;
    padding: 0
}
.ng-fader li {
    height: 100%;
    margin: 0;
    position: relative;
    list-style: none;
    width: 100%
}

/*.ng-fader li img {
    border: medium none;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 1s ease 0s;
    -moz-transition: opacity 1s ease 0s;
    -o-transition: opacity 1s ease 0s;
    transition: opacity 1s ease 0s;
}
.ng-fader li img.show {
    opacity: 1;
    width: 100%;
    height: auto;
    position: relative;
}*/
/* Customization to for making it use background image instead of <img> */
.ng-fader li {
	border: medium none;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 1s ease 0s;
    -moz-transition: opacity 1s ease 0s;
    -o-transition: opacity 1s ease 0s;
    transition: opacity 1s ease 0s;
}
.ng-fader li.show {
	opacity: 1;
    width: 100%;
    height: auto;
    position: relative;
    height: 100vh;
}
/* Customization ends */

.ng-fader-pagination {
    bottom: 10px;
    height: 20px;
    left: 0;
    position: absolute;
    width: auto
}
.ng-fader-pagination li {
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    height: 12px;
    margin: 4px;
    padding: 5px;
    position: relative;
    width: 12px;
    cursor: pointer
}
.ng-fader-pagination li:first-child {
    margin: 4px 4px 4px 20px;
}
.ng-fader-pagination li.current {
    background-color: #666
}
.ng-fader-controls {
    bottom: 10px;
    height: 20px;
    position: absolute;
    right: 20px
}
.ng-fader-controls li {
    color: #FFF;
    display: inline;
    font-size: 1.2em;
    padding: 0 15px;
    position: relative;
    cursor: pointer
}
.ng-fader-controls li:nth-child(3) {
    padding-right: 0
}
.ng-fader-controls li.active {
    color: #666
}
.ngfader-play {
    width: 0;
    height: 0;
    margin: 0;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 15px solid #FFF;
    cursor: pointer
}
.ngfader-play.active {
    border-left: 15px solid #666
}
.ngfader-stop {
    background-color: #FFF;
    height: 15px;
    margin: 0;
    display: inline-block;
    width: 15px;
    cursor: pointer
}
.ngfader-stop.active {
    background-color: #666
}
.ngfader-pause {
    background-color: #FFF;
    height: 15px;
    margin: 0;
    width: 5px;
    cursor: pointer;
    display: inline-block
}
.ngfader-pause:after {
    background-color: #FFF;
    height: 15px;
    margin-left: 3px;
    width: 5px;
    content: "";
    display: block;
    position: relative;
    left: 5px
}
.ngfader-pause.active,
.ngfader-pause.active:after {
    background-color: #666
}
.ngfader-forward {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #FFF;
    border-top: 8px solid transparent;
    height: 0;
    margin: 0;
    width: 0;
    cursor: pointer;
    display: inline-block
}
.ngfader-forward:after {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #FFF;
    border-top: 8px solid transparent;
    bottom: 8px;
    content: "";
    display: block;
    height: 0;
    margin: 0;
    position: relative;
    right: 0;
    width: 0
}
.ngfader-forward.active,
.ngfader-forward.active:after {
    border-left: 8px solid #666
}
.ngfader-back {
    border-bottom: 8px solid transparent;
    border-right: 8px solid #FFF;
    border-top: 8px solid transparent;
    height: 0;
    margin: 0;
    width: 0;
    cursor: pointer;
    display: inline-block
}
.ngfader-back:after {
    border-bottom: 8px solid transparent;
    border-right: 8px solid #FFF;
    border-top: 8px solid transparent;
    bottom: 8px;
    content: "";
    display: block;
    height: 0;
    position: relative;
    left: 8px;
    width: 0
}
.ngfader-back.active,
.ngfader-back.active:after {
    border-right: 8px solid #666
}

@media screen and (max-width: 740px) {
    .ng-fader-controls {
        display: none
    }
    .ng-fader-pagination {
    	bottom: 0;
    }
    .ng-fader-pagination li {
    	width: 6px;
    	height: 6px;
    }
    .ng-fader-pagination li:first-child {
    	margin: 4px;
    }
}

