60pxhtml {
    background-color: #FFF;
}

.main-page-content{
	padding-left: 15px !important;
	padding-top: 80px;
	background-color: #FFF;
	padding-right: 10px !important;
    overflow: hidden;
}
body{
    overflow-x: hidden;
}
.main-container-fluid{
	padding-left:0px;
	padding-right:0px
}
.filter-area{
	padding-top:20px;
}
.filter-area-heading{
    color: #8C4299;
    font-weight: bold;
	 margin:4px 0px 10px;
    font-size: 20px
}
.filter-section{
	margin-top:10px;
	font-size:14px;
	border-bottom: 1px dashed #ccc
}
 .filter-section-title{
    font-size: 13px;
    padding:0px;
    margin:4px 0px 15px;
    color:#aaa;
 }

.filter-section-title.updated-1{
	margin: 3px;
}

 .filter-button{
     background-color: #8C4299;
     border-color: #8C4299;
     font-size: 14px;
     border-radius: 0px
 }
 .filter-no-border{
     border:0px
 }

.site-main-content{
     background-color: #FFF;
     margin-top:0px;
     padding:0px
 }

 .main-section-left-tab{
    margin-left: -25% !important;
    width: 125% !important;
}
.main-section-left-tab-title{
    border-bottom:1px dashed #ccc;
    padding:5px;
    margin:5px;
    padding-left:40px;
    padding-top:10px;
    padding-bottom:10px;
}
.main-section-left-tab-title-filter{
    margin-left:20px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 0px;
    padding-right: 0px
}
 .main-section-right-tab{
    margin-left: -15% !important;
    width: 118%!important;
}
.main-section-right-tab-title{
    border-bottom:1px dashed #ccc;
    padding:5px;
    margin:5px;
    padding-left:60px;
    padding-top:10px;
    padding-bottom:10px;
}
.main-section-right-tab-title-filter{
   padding-top:5px;
   padding-bottom:5px;
   padding-left: 0px;
}
.main-section-action-tab-title{
    border-bottom:1px solid #DDD;/*1px dashed #ccc*/
    margin:0px;
    padding-left:5px;
    padding-top:20px;
    padding-bottom:10px;
    padding-right:0px;
}
.main-section-actions{
    padding-left:5px;
    padding-top:18px;
    padding-bottom:10px;
    color:#ccc;
    border-bottom:1px solid #ccc;
}
.tab-actions-pop{
    margin-top:11px;
    background-color: #f6fafb;
    padding:10px;
}
.tab-actions-pop a{
    border-bottom: 1px dashed #ccc;
    color: #16b4fc;
    padding:5px;
}
#map_canvas{
    height: 69% !important;
}

.record-rows-left{
    width:3%;
    background-color: #8C4299;
    padding-top:10px;
    padding-bottom:10px;
    float: left;
	display:none;
}
.record-rows-right{
    width:100%;
    background-color: #fef3d3;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 20px;
    color:#000;
	font-weight:bold;
	text-transform: uppercase;
}
.analysis .record-rows-right {
    padding: 5px 20px;
}
.analysis .record-rows-right .title-text {
    float: left;
    padding: 4px 8px;
}

.font-12{
     font-size:12px;
 }
  .font-14{
     font-size:14px !important;
 }
  .font-18{
     font-size:18px;
 }
  .font-20{
     font-size:20px;
 }
  .font-22{
     font-size:22px;
 }
  .font-24{
     font-size:24px;
 }


 /*css from index.html*/
 .btn-white{
     background-color: #fff;
     border-color:#fff;
     color:#333;
 }
 .q_active{
    background-color: #16b4fc;
    border-color: #16b4fc;
    color:#fff !important;
}
.site-header .btn-nav {
    margin-left: 0px;
}
  .checkbox input[type=radio]:checked+label:after, .radio input[type=radio]:checked+label:after {
        width: 8px;
        height: 8px;
        background: #16B4FC;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        left: 4px;
        top: 4px;
    }
  .select2-container--arrow .select2-selection--single .select2-selection__arrow:before, .select2-container--default .select2-selection--single .select2-selection__arrow:before, .select2-container--white .select2-selection--single .select2-selection__arrow:before {
    display: none !important;
}
.select2-container--arrow .select2-selection--single .select2-selection__arrow:after, .select2-container--default .select2-selection--single .select2-selection__arrow:after, .select2-container--white .select2-selection--single .select2-selection__arrow:after {
    border-width: 10px 5px 0;
    border-color: #ccc transparent transparent;
    margin-top: -4px;
    margin-left: -4px;
}
.select2-container--arrow .select2-selection--single .select2-selection__arrow, .select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container--white .select2-selection--single .select2-selection__arrow {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 30px;
    text-align: center;
    background: #fefefe;
    /* -webkit-border-radius: 0 .25rem .25rem 0; */
    border-radius: 0 .25rem .25rem 0;
    border: 1px solid #dedede;
}
.select2-container--arrow .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--white .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
    color: #16b4fc;
    min-height: 35px;
  }
  .select-label{
          margin-left: 3px;
  }
  .bootstrap-table .table thead th, .fixed-table-body .table thead th, .table thead th {
    font-size: 10px;
}

.checkbox-detailed input:checked+label {
    background-color: #8C4299;
    border-color: #8C4299;
   /* color: #fff;*/
}
.tabs-section-nav .nav-link{
    color:#000;
	text-transform: initial;
}
.checkbox-detailed input+label {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border-bottom: 1px solid #ccc;
    border-top:0px solid #ccc;
    border-left:0px solid #ccc;
}
.checkbox-detailed input+label:before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid #c5d6de;
    position: absolute;
    left: 12px;
    top: 23%;
    margin-top: -6px;
    -webkit-border-radius: 50%;
    border-radius: 50%;

}
.checkbox-detailed input:checked+label:before {
    border-color: #00a8ff;
    background-color: #00a8ff;
}
 [id^="filter-overlay"] {
        display: block;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
      }
.tabs-section-nav.tabs-section-nav-inline .nav {
	background:#fff;
}
/*alter:19-01-17*/
.main-page-content-load .tabs-section-nav.tabs-section-nav-inline .nav {
	border: none;
}
.font-color-for-section{
    color:#8C4299;
    font-weight: 800;
}
 /*css from index.html ends*/
 /*============================================css from competitive======================================*/
 #tabTable{
        margin:0px 0px -1px 0px;
    }
    #tabTable ul.nav li.nav-item{
        width: 50%;
        text-transform: uppercase;
    }
     .team-info li{
        line-height: 30px;
        padding-left:10px;
         margin-top: 5px
    }
    .team-info .label-pill{
        float: right;
        width: 40px;
        margin-right:20px;

    }
    .site-content-page-heading{
        font-size:22px;
        padding-left:40px
    }
    .site-content-page-heading-left-section{
        border-right:1px solid #ddd;
        border-bottom:1px solid #ccc;
        padding:0px;
        padding-top:25px;
        padding-bottom:25px
    }
    .site-content-page-heading-right-section{
        border-bottom:1px solid #ddd;
        padding:0px;
        padding-top:9px
    }
    .table_bold_content{
        font-weight: bold;
    }
    .table_text_grey{
        font-size:12px;
        color:#ccc
    }
    .table_text_name{
        font-size:20px;
        padding-left:40px
    }
    .circle-tags{
        background-color: #16b4fc;
        color:#fff;
        width:40px;
        height:40px;
        text-align: center;
        padding-top:6px;
        border-radius: 50%
    }
    .record-rows-margin-top{
        margin-top: 13px;
    }

 /*css from competitive ends*/
 /*css for prodct comparison tab*/
    .checkbox input[type=radio]:checked+label:after, .radio input[type=radio]:checked+label:after {
        width: 8px;
        height: 8px;
        background: #16B4FC;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        left: 4px;
        top: 4px;
    }
   .bootstrap-table .table thead th, .fixed-table-body .table thead th, .table thead th {
    font-size: 10px;
}
.select2-container--arrow .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--white .select2-selection--multiple .select2-selection__choice {
    font-size: 12px;
    background: #16b4fc;
}
.select2-container--arrow .select2-selection--multiple .select2-selection__choice__remove, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove, .select2-container--white .select2-selection--multiple .select2-selection__choice__remove {

    font-size: 20px;
}
    #example thead th, #example thead tr, #example, #example thead tr:nth-child(even) {
       border: none;
    }
    #example tbody tr td {
       border-right: none;
    }
    #example tbody tr td:last-child {
       border-right: 1px;
    }

    #example1 thead th, #example1 thead tr, #example1, #example1 thead tr:nth-child(even) {
       border: none;
    }
    #example1 tbody tr td {
       border-right: none;
    }
    #example1 tbody tr td:last-child {
       border-right: 1px;
    }
    .header_extra_info{
        border-bottom: 1px solid #ccc;
        padding-top:10px;
        padding-bottom:10px
    }
    .text-color-purple{
        color:#8C4299;
    }
    .text-color-grey{
        color:#878787;
    }
    .text-color-orange{
        color:#fcb040;
    }
    .color-purple{
        background-color:#8C4299;
        color:#fff !important;
    }
    .color-grey{
        background-color:#878787;
        color:#fff !important;
    }
    .color-orange{
        background-color: #fcb040;
        color:#fff !important;
    }
    .padding-left-10{
        padding-left:10px
    }
    .padding-top-15{
        padding-top:15px
    }
/*CSS for prodct comparison tab ends*/

/*sobscription page styling*/
.add_page_heading{
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:10px;
    padding-bottom: 16px;
}
.back-link-text{
    border:1px solid #ddd;
    padding-top:5px;
    padding-bottom:5px;
    margin: 0px;
    color:#16B4FC;
    width: 50%;
}
.back-link-icon{
    border:1px solid #ddd;
    border-left:0px solid #ddd;
    padding-top:3px;
    padding-bottom:0px;
    color:#16B4FC;
    padding-left: 5px
}

.back-link-icon i.glyphicon.glyphicon-triangle-left {
	margin-top: 2px;
}

/*sobscription page styling ends*/
/*Teams Page styling*/
        .addteam td,
    .addteam th {
        border: none;
    }

    .addteam tr {
        border-bottom: 1px solid #efefef;
    }

    .addteam th {
        color: #808082;
        font-size: 12px;
        line-height: 35px;
        padding-left: 10px;
        padding-right: 20px
    }

    .tbl-typical th>div:before {
        background: none;
    }

    .addteam th div {
        color: #808082;
        font-size: 12px;
        font-weight: normal;
        height: 45px;
    }

    .addteam td {
        color: #000000;
        font-size: 14px;
    }

    .addteam tr td:nth-child(2),
    .addteam tr th:nth-child(2) {
        text-align: center;
    }
    .addteam tr td:nth-child(3),
    .addteam tr th:nth-child(3) {
        text-align: center;
    }
    .addteam tr td:nth-child(4),
    .addteam tr th:nth-child(4) {
        text-align: center;
    }
/*Team page styling ends*/



/*==================================KENDO CSS==========================================================*/
.k-combobox>.k-dropdown-wrap>.k-i-close {
        top: 43%;
}
.k-autocomplete>.k-i-close, .k-multiselect>.k-multiselect-wrap>.k-i-close{
    top:4px;
}
.k-popup .k-list .k-state-selected {

    color:#16b4fc;
}
.k-i-sort-desc{
    float:right;
}
.k-multiselect .k-i-close {
    color:#fff !important;
}
/* css for kendo buttons */

.k-primary{
    background-color: #00a8ff;
    border: 1px solid #00a8ff;
    color: #fff;
    font-weight: 600;
    border-radius: 0px;
    padding: 6px 15px;
    width:100%;

}
.k-primary:hover{
    background-color: #00a8ff;
    border: 1px solid #00a8ff;
    color: #fff;
    font-weight: 600;
    border-radius: 0px;
   /* padding: 6px 15px;*/

}
.btn-map{
    background-color: #00a8ff !important;
    border: 1px solid #00a8ff!important;
    color: #fff;
    font-weight: 600;
    border-radius: 0px;
    padding: 6px 15px;
    width:100%;
}
.btn-map:hover{
    background-color: #00a8ff !important;
    border: 1px solid #00a8ff!important;
    color: #fff;
    font-weight: 600;
    border-radius: 0px;
    padding: 6px 15px;
    width:100%;
}
.btn-skyblue .k-button {
    color: #fff;
    font-weight: 600;
    border-radius:0px;
    width:100%;
    padding: 6px;
    background-color: #8C4299;
    border-color: #8C4299;
    font-size: 14px;
    border-radius: 0px;
    background: #8C4299;
}
.btn-skyblue .k-button:hover {
    color: #fff;
    font-weight: 600;
    border-radius:0px;
    width:100%;
    padding: 6px;
    background-color: #8C4299;
    border-color: #8C4299;
    font-size: 14px;
    border-radius: 0px;
    background: #8C4299;
}
.btn-prodcomparison {
    color: #fff;
    font-weight: 600;
    border-radius:0px;
    width:100%;
    padding: 6px;
    background-color: #8C4299 !important;
    border-color: #8C4299;
    font-size: 14px;
    border-radius: 0px;
    background: #8C4299;
}
.k-button,
.k-button:hover,
.k-button.k-state-hover,
.k-button.k-state-focused,
.k-button:focus,
.k-button:focus:not(.k-state-disabled):not([disabled]),
.k-button:focus:active:not(.k-state-disabled):not([disabled]) {
    box-shadow: none;
	background-color:none;
}
.btn-prodcomparison:hover {
    color: #fff;
    font-weight: 600;
    border-radius:0px;
    width:100%;
    padding: 6px;
    background-color: #8C4299 !important;
    border-color: #8C4299;
    font-size: 14px;
    border-radius: 0px;
    background: #8C4299;
}
.btn-competitiveteam{
    color: #fff;
    font-weight: 600;
    border-radius:0px;
    width:100%;
    padding: 10px;
    background-color: #16b4fc !important;
    font-size: 14px;
    border-radius: 0px;
    background: #16b4fc;
}
.btn-competitiveteam:hover{
    color: #fff;
    font-weight: 600;
    border-radius:0px;
    width:100%;
    padding: 10px;
    background-color: #16b4fc !important;
    font-size: 14px;
    border-radius: 0px;
    background: #16b4fc;
}
.btn-smallmap{
    color: #fff;
    font-weight: 600;
    border-radius:0px;
    width:22%;
    padding: 6px;
    background-color: #8C4299 !important;
    border-color: #8C4299;
    font-size: 16px;
    border-radius: 0px;
    background: #8C4299;
    margin-top:7px;
}
.btn-smallmap:hover{
    color: #fff;
    font-weight: 600;
    border-radius:0px;
    width:22%;
    padding: 6px;
    background-color: #16b4fc !important;
    border-color: #16b4fc;
    font-size: 16px;
    border-radius: 0px;
    background: #16b4fc;
    margin-top:7px;;

}
.btn-logo{
    color: #fff;
    font-weight: 600;
    border-radius:0px;
    padding: 6px 15px;
    width:95%;
    background-color: #8C4299 !important;
    border-color: #8C4299;
    font-size: 16px;
    border-radius: 0px;
    background: #8C4299;
}
.btn-logo:hover{
    color: #fff;
    font-weight: 600;
    border-radius:0px;
    padding: 6px 15px;
    width:95%;
    background-color: #16b4fc !important;
    border-color: #16b4fc;
    font-size: 16px;
    border-radius: 0px;
    background: #16b4fc;
}
.btn-division{
    color: #fff;
    font-weight: 600;
    border-radius:0px;
    padding: 6px 65px;
    background-color: #8C4299 !important;
    border-color: #8C4299;
    font-size: 16px;
    border-radius: 0px;
    background: #8C4299;
}

.btn-division:hover{
    color: #fff;
    font-weight: 600;
    border-radius:0px;
    padding: 6px 65px;
    background-color: #16b4fc !important;
    border-color: #16b4fc;
    font-size: 16px;
    border-radius: 0px;
    background: #16b4fc;
}
.update-info{
	background-color: #00a8ff !important;
    border: 1px solid #00a8ff;
    color: #fff;
    font-weight: 600;
    border-radius: 0px;
    padding: 6px 10px;
    width:60%;
}
.update-info:hover{
	background-color: #00a8ff !important;
    border: 1px solid #00a8ff;
    color: #fff;
    font-weight: 600;
    border-radius: 0px;
    padding: 6px 10px;
    width:60%;
	background:transparent;
}
/* css for kendo combobox */

.k-popup .k-list .k-state-focused{
    padding-left: 0 4px;
    border-style:none;
    background:#14699f;
    color:#16b4fc;
    box-shadow:none;
}

.k-popup .k-list .k-state-hover {
    color:#16b4fc;
}
.k-popup .k-list .k-Placeholder {
    color:#16b4fc;
}
.k-state-default>.k-select{
    background: #fefefe;
}
.k-popup .k-list .k-item{
    background: #fff;
    font-size:14px;
    padding-left:5px;
    font-weight: 500;
}
.k-combobox input::-webkit-input-placeholder {
    color:#16b4fc !important;
    padding-left:5px;
    }
.k-grid-header th.k-header .k-icon{
    margin-left:5px;
    vertical-align:top;
}
[placeholder], input[placeholder] {
    color: #16b4fc;
    font-size: 16px;
    font-weight: 500;
    /*border-radius: 0;*/
}
.radius-0[placeholder], input[placeholder] {
    border-radius: 0;
}

.form-control.custom-fm-ctrl {
	height: 38px !important;
	border: 1px solid rgba(197,214,222,.7);
}

/* css for searchable location in subscription page */
.geo-location-input{
    padding-left: 15% !important;
    width: 75%;
    margin: 8px !important;
    display:table;
}
/* css for colorpicker */

.k-colorpicker{
        width: 100% !important;
}
.k-colorpicker .k-selected-color{
    width:100% !important;
    height: 42px;
}
.k-hsv-rectangle {
    width:321px !important;
}
.k-widget.k-popup{
    width:321px !important;
}
.k-slider-track{
    width:300px !important;
}

.k-picker-wrap .k-select {
	border-radius: 0 2px 2px 0;
}

/*=========================================Map User to Team Styling================================================*/
.customer-photo{
                display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        /*background-size: 32px 35px;*/
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        /*box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);*/
        margin-left: 40px;
}
.customer-name{
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 10px;
}
.checkboxshow {
        display: inline-block;
        position: absolute;
        left: 4px;
        margin-top: 2px;
        margin-left: 10px;
}
.map-user-team-kendo-grid table td{
                line-height: 4em;
                border-style: none !important;
                padding: 3px 0px;
                border-bottom: 1px solid #efefef !important;
}
.map-user-team-kendo-grid table th{
                border-style: none !important;
                border: none;
                line-height: 8px !important;

}
.map-user-team-kendo-grid .k-grid-content{
    overflow: hidden !important;
}
.map-user-team-kendo-grid .k-grid-header th.k-header{
    /*line-height: 40px !important;*/
    padding: 20px;
    background-color: #fbfcfd;
    font-size: 12px;
    font-weight: 500;
    color: #aaa;
}
.total-users-mapuser{
    display: inline-block;
    padding-top: 12px;
    width: 31%;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #f6fafb;
    padding-left:10px;
	color:#16b4fc;
	font-size: 18px;

}
.unsigned-users-mapuser{
    display: inline-block;
    padding-top: 12px;
    width: 28.33%;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #f6fafb;

}
.searchdesig-mapuser{
    display: inline-block;
    padding-top: 12px;
    width: 30.33%;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #f6fafb;

}
.group-user-mapuser{
    background-color: #f6fafb;
    height: 64px;
}
.k-combox{
    width: 96% !important;
}
.card-block-map-user-team{
    padding-top: 0px !important;
}
.back-link-text-map-user {
    border: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    color: #16B4FC;
    width: 59%;
}
/*.k-grid-header th.k-header>.k-link{
    font-size: 12px;
    font-weight: 500;
    color: #aaa;
}*/
/*.map-user-team-kendo-grid .k-grid .k-widget{
    border-style: none !important;
}*/
/*==================================================map view styling===================================================*/
.map-view-top-content{
    border-right:1px solid #ddd;
    border-bottom:1px solid #ccc;
    padding:0px;
    padding:12px 0;
}
.map-view-top-content > h3, .map-view-top-content > p {
	margin-bottom: 10px;
}
.map-view-sub-content{
    font-size:12px;
    color:#aaa;
}
.map-indicators{
    display: inline;
    padding-left: 65%;
}
.text-map-backcolor1{
    /*width: 0%;
    height: 0%;*/
    padding: 7px;
    color: #3366cc;
    /*border: none;*/
}
.text-map-backcolor2{
    /*width: 0%;
    height: 0%;*/
    padding: 7px;
    color: #ff9900;
    /*border: none;*/
}
.text-map-backcolor3{
    /*width: 0%;
    height: 0%;*/
    padding: 7px;
    color: #dc3912;
    /*border: none;*/
}
/*::-webkit-scrollbar  {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb  {
    background-color:#808080;
}*/

.enlargedChart .dropdown-toggle::after {
	display: none;
}

.enlargedChart .dropdown-menu {
	min-width: 25vw;
	top: 0;
	left: 60px;
	margin: 0;
	padding: 0;
	border-color: transparent;
}

.enlargedChart .dropdown-menu svg {
	margin-left: 0;
}

.enlargedChart .row {
	margin: 0;
}

.enlargedChart [class^="col-xs-"] {
	padding: 0;
}

.enlargedChart .dropdown-menu .clickable {
	cursor: pointer;
    padding: 1px 3px;
    border-radius: 5px;
    -webkit-transition: all .1s cubic-bezier(.72,.06,1,1);
    -moz-transition: all .1s cubic-bezier(.72,.06,1,1);
    -o-transition: all .1s cubic-bezier(.72,.06,1,1);
    transition: all .1s cubic-bezier(.72,.06,1,1);
}

.enlargedChart .dropdown-menu .clickable:hover {
	background-color: rgba(150,150,150,0.3);
}

.enlargedChart .dropdown-menu .head {
	background-color: #cfecff;
	padding: 12px;
	font-weight: bold;
}

.enlargedChart .dropdown-menu .head .arrow {
	font-size: 25px;
    position: absolute;
    left: -19px;
    top: 14px;
    color: #cfecff;
}

.enlargedChart .dropdown-menu .body {
	padding: 12px;
	font-size: 0.75rem;
}

.enlargedChart .dropdown-menu .body > .row:not(:last-child) {
	margin-bottom: 5px;
}


/*=================================================User List Styling===================================================*/
.customer-photo-user-list{
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-size: contain;
                background-position: center center;
                vertical-align: middle;
                line-height: 32px;
                /*box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);*/
                margin-left: 15px;
}
.customer-name-user-list{
                display: inline-block;
                vertical-align: middle;
                line-height: 32px;
                padding-left: 10px;
}
.kendo-user-list table td{
                line-height: 4em;
                border-style: none !important;
                padding: 3px 0px;
                border-bottom: 1px solid #d8e2e7 !important;
}
.kendo-user-list{
                border: 0px;
}
.k-grid-content{
              overflow: hidden;
                  /* margin-left: 8px; */
                font-size: .9375rem;
}
.kendo-user-list table th{
                border-style: none !important;
                line-height: 8px !important;
                text-overflow: ellipsis;
}
.k-grid-header th.k-header{
                font-size: 10px;
                font-weight: bold;
                padding: 9px;
                background-color: #f6f8fa;
}
.k-grid-header-wrap{
                border: none;
}
.user-list-combo{
                width: 80%;
              margin-left: 10px;
}
.icon-user-list{
                display: inline-block;
}
.card-block{
    padding-top: 28px;
    padding-bottom: 16px;
}
.k-grid-header{
    border-bottom: 0 !important;
}
/*==============================================Team Permission styling=====================================================*/
.icon-team-permission{
                letter-spacing:10px;
                font-size: 20px;
                color: #aaa;
}
.icon-team-permission a {
	color: #aaa;
}
.kendo-grid-team-permission{
    border: none;
}

.kendo-grid-team-permission table th{
    border-style: none !important;
    line-height: 8px !important;
}

.kendo-grid-team-permission table td{
                line-height: 2.3em;
				border-bottom:1px solid #d8e2e7;
				border-left-color: transparent;
                padding: 3px 0px;
}
/*=================================================Subscription styling=========================================================*/
.subscription-kendo-grid {
    border: none;
}
.subscription-kendo-grid table th{
    border-style:  none !important;
    line-height: 8px !important;
}
.platinum-subs{
    width: 40px;
    height: 14px;
    background-color: #92278f;
    display: inline-block;
}
.icon-subs{
    letter-spacing: 5px;
    font-size: 20px;
    color:#aaa;
}
.icon-subs a {
	color: #aaa;
}

.subscription-kendo-grid  td{
    border: none;
        padding: 12px;
        font-size: 16px;
        font-weight: bold;
        color:#000000;
}
.subs-kendo-grid  td{
    border: none;
        padding: 12px;
        font-size: 16px;
        font-weight: bold;
        color:#000000;
}
.platu{
    width: 40px;
    display: inline-block;
}
.subs-kendo-grid table{
    font-weight: 700;
    font-size: 16px;
}
.subs-kendo-grid th{
    border-style: none !important;
    font-weight: bold;
}
.subs-kendo-grid table td{
padding: 10px;
    border-style: none;
}
.plat-subs{
    margin-left: 15px;
    font-weight: bold;
    font-size: 15px;
}
.subscription-kendo-grid .k-grid-header th.k-header{
        font-size: 12px;
        font-weight: normal;
        background-color: #fff;
        padding: 20px;
        padding-left: 25px;
        color: #808082;
        border-top: 0;
        border-style: hidden;
}
/*.subscription-kendo-grid {
    padding-left: 10px;
}*/

.subs-kendo-grid .k-grid-header th.k-header{
        font-size: 12px;
        font-weight: normal;
        background-color: #fff;
        padding: 18px;
        padding-left: 23px;
        color: #808082;
        border-style: hidden;
}
.input-append input-group{
padding: 1% !important;
    width: 63% !important;
    border-top: none;
    border-style: hidden;
        }
.subscription-kendo-grid .k-grid-header{
    border-bottom: 0;
}
.subs-kendo-grid .k-grid-header{
    border-bottom: 0;
    border-top: none;
}
.subs-kendo-grid{
    border:none;
}
.margin-card-block{
    padding-top: 18px;
}
/*styling for add new subscription*/
.kendo-custom-btn{
    width: 52%;
    padding: 5px;
}
.subscription-kendo-grid  table tr td, .subs-kendo-grid table tr td{
	border-bottom:1px solid #efefef !important;
}

/* New Additions */
.subscriptions .subscriptionType td,
.subscriptions .subscriptionType th {
    border: none;
}

.subscriptions .subscriptionType tr {
    border-bottom: 1px solid #efefef;
}

.subscriptions .subscriptionType th {
    color: #808082;
    font-size: 12px;
    background: none;
    line-height: 35px;
    padding-left: 10px;
    padding-right: 20px
}

.subscriptions .tbl-typical th>div:before {
    background: none;
}

.subscriptions .subscriptionType th div {
    color: #808082;
    font-size: 12px;
    font-weight: normal;
    height: 45px;
}

.subscriptions .subscriptionType td {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

.subscriptions .subscriptionType tr td:nth-child(2),
.subscriptions .subscriptionType tr th:nth-child(2) {
    text-align: right;
}

.subscriptions .greyIcon {
    color: #9b9c9e;
}

.subscriptions .colorbox {
    background-color: transparent;
    width: 40px;
    height: 18px;
    display: inline-block;
	vertical-align: middle;
}

.subscriptions .notSet {
	font-size: 10px;
    display: inline-block;
    font-weight: normal;
    transform: translateY(-27%);
}

.subscriptions .card-block {
	padding-top: 0;
	padding-bottom: 0;
}


/*==============================================Styling for index============================================================*/
.color-arrow{
    color: #8cc63e;
}
.k-competitive Table tr td:nth-child(1){
  font-size: 20px;
  color:#000;
  }
.index-kendo-grid th{
    /* border-style: none !important; */
    padding: 15px !important;
}
.index-kendo-grid td{
/*     border-style: none !important; */
    padding: 15px;
    text-overflow: inherit;
    text-align:center !important;
}

/* .index-kendo-grid tr:last-child {
  background-color: #8C4299 !important;
    color: #fff;
  } */
html .k-grid tr:hover {
  background: transparent;
}
.record-rows-right{
    /* margin-left: 30px; */
}
.index-kendo-grid table td:nth-child(1):first-child {
  background: #f2f2f2;
  color: #000;
  padding: 15px 0;
}
.index-kendo-grid table th:nth-child(1):first-child {
  background: #fff;
    color:transparent;
}
 .index-kendo-grid Table tr:nth-child(even) td {
    background-color:#fff;;
}
/* .index-kendo-grid table tr:nth-child(1) td:first-child {
  background: #8cc63e;
    color: #fff;
}
.index-kendo-grid table tr:nth-child(2) td:first-child {
  background: #8cc63e;
    color: #fff;
}
.index-kendo-grid table tr:nth-child(3) td:first-child {
  background: #fcb040;
    color: #fff;
}
.index-kendo-grid table tr:nth-child(4) td:first-child {
  background: #fcb040;
    color: #fff;
}
.index-kendo-grid table tr:nth-child(5) td:first-child {
  background: #fcb040;
    color: #fff;
}
.index-kendo-grid table tr:nth-child(6) td:first-child {
  background: #fcb040;
    color: #fff;
}*/
.index-kendo-grid tr:nth-child(11){
    /*background:#8C4299 !important;*/
}
.index-kendo-grid table td{
    border-bottom: 1px solid #d8e2e7 !important;
}
.k-dropdown-wrap .k-input{
    visibility:visible;
}
.tab-width-75{
    width: 75%;
    display: inline-block;
    float: left;
}
.tab-width-25{
    display: inline-block;
    width: 25%;
    position: absolute;
}
/*SAGAR*/
.width-100{
    width:100%;
}
.margin-bottom-20{
    margin-bottom:20px;
}
.border-0{
    border:0px !important;
}
.customer-photo-competitive{
     display: inline-block;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     /*background-size: 32px 35px;*/
     background-position: center center;
     vertical-align: middle;
     line-height: 32px;
    /* box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);*/
     margin-left: 2px;
}
.customer-name-competitive{
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding-left: 15px;
    color: #333;
}
.margin-left5{
    margin-left:5px;
}


/*======================================css for add team page====================================*/
.k-team Table th{
    background-color: #f6f8fa;
    border:0px !important;
    font-size:12px;

}
.k-team Table tr{
        border-bottom: 1px solid #000!important;

}
.k-team  .k-grid-header{
        vertical-align:middle;
      border: 0px;
}
.k-grid-header{
    padding:0px !important;
}
.k-team Table td{
    padding:14px 15px;
    border:0px;
    border-bottom: 1px solid #efefef;
    color:#000000;
    font-size:14px;
}

 .k-team Table tr:nth-child(odd) td {
    background-color:#fbfcfd;;
}
 .k-team Table tr:nth-child(even) td {
    background-color:#fff;
}
.k-grid-header-wrap{
    border:0px;
    border-bottom: 1px solid #d8e2e7;
}
.k-team .k-grid-header th.k-header>.k-link {
    font-size:12px;
    font-weight: normal;
    background:#f6f8fa;
}
.k-team .k-grid-header th.k-header{
    padding: 17px;
    color: #808082;
    font-size: 12px;
    font-weight: normal;
    padding-left: 8px;
}
.margin-row-team{
    margin: -12px;
}
.card-block-add-team{
    padding:13px;
}
.btn-save-team-name{
    font-weight: 600;
    color: #fff;
    background-color: #00a8ff;
    border:1px solid #00a8ff;
    width: 26%;

}
/*============================================css for c-c-comparison page==================================*/
.k-comparison{
    border-collapse:separate !important;
}
.k-comparison Table th{
        background: #f6f8fa;
        border-bottom: none;

}
.k-comparison Table td{
    color:#000000;
    font-size: .9375rem;
    font-weight:600;
    border-bottom: 1px solid #d8e2e7;
}
.k-comparison .k-grid-header .k-header>.k-link, .k-header, .k-treemap-title{
    color:#000000;
    font-weight:600;
    font-size:14px;
}
/* css for competitive page*/

.k-competitive table td{
        border-color: transparent;
 }
 .k-competitive2 table td{
        border-color: transparent;
 }
.k-competitive Table th{
    background:#fff;
    border-style:none !important;
    border-bottom: 1px solid #d8e2e7;
    font-size:10px;
}

.k-competitive Table td{
border-bottom: 1px solid #d8e2e7;

}
.k-competitive2 Table td{
border-bottom: 1px solid #d8e2e7;

}
.k-competitive  .k-grid-header{
    border:0px;
}
.k-competitive2  .k-header{
    border:transparent;
}
.k-competitive .k-grid-header th.k-header {
    font-weight: 600;
    padding:10px;
    background:#fff;
}
 .k-competitive Table tr:nth-child(even) td {
    background:#faf5fb;;
}
 .k-competitive2 Table tr:nth-child(even) td {
    background:#faf5fb;;
}
.k-competitive Table tr td:nth-child(1){
        font-size: 20px;
        color:#000;
  }

 .k-competitive Table tr td:nth-child(2){
     color:#ccc;
     font-size: 12px;
	 text-align:left;

 }
html .k-grid tr:hover {
  background: transparent;
}

.k-competitive Table tr td:nth-child(3){
        font-weight:bold;
        color:#000;
  }
  .k-competitive Table tr td:nth-child(4){
        font-weight:bold;
        color:#000;
  }

.qwer{
      display:inline-block;
      margin:2px;
  }
  .fa-caret-up{
      color:#46c35f !important;
  }

  .site-header .btn-nav {
	  margin-left: 20px !important;
  }

 /* css for customer list page*/

.k-customer-list table td{
        border-color: transparent;
 }
.k-customer-list Table th{
    background:#f6f8fa;
    border-style:none !important;
    border-bottom: 1px solid #d8e2e7;
    font-size:10px;

}
 .k-customer-list .k-grid-header th.k-header {
    font-weight: 600;
    padding:10px;
    text-align:center;
    color: #535b6a;
}
 .k-customer-list Table tr:nth-child(even) td {
    background:#fbfcfd;;
}
.k-customer-list Table td{
    border-bottom: 1px solid #d8e2e7;
    padding-top: 10px;
}
  .user-list-combo{
 width: 80%;
  margin-left: 10px;
}
.icon-user-list{
 display: inline-block;
}

	.platinum {
        background-color: #8C4299;
        display: inline-block;
        padding: .25em .4em;
        line-height: 1;
        color: #fff;
        white-space: nowrap;
        border-radius: .25rem;
    }

    .diamond {
        background-color: #8cc63e;
        display: inline-block;
        padding: .25em .4em;
        line-height: 1;
        color: #fff;
        white-space: nowrap;
        border-radius: .25rem;
    }

    .gold {
        display: inline-block;
        padding: .25em .4em;
        line-height: 1;
        color: #fff;
        white-space: nowrap;
        border-radius: .25rem;
        background-color: #fcb040;
    }

    .silver {
        background-color: #878787;
        display: inline-block;
        padding: .25em .4em;
        line-height: 1;
        color: #fff;
        white-space: nowrap;
        border-radius: .25rem;
    }
    .box-text{
        color: #fff;
        font-size: .875rem;
        font-weight: 600;
        text-align:center;
    }

    .subscription-box {
    	display: inline-block;
        padding: .25em .4em;
        line-height: 1;
        color: #fff;
        white-space: nowrap;
        border-radius: .25rem;
        background-color: #DDD;
    }
/*=======================globally applied css for kendo textbox===============================================*/
.k-textbox{
    width: 100% !important;
    /*height: 38px !important;*/
}
.k-combobox>.k-dropdown-wrap>.k-i-close {

display:none !important;
}
/*============================================Styling for profile===============================================*/
.profile-kedo-companies .k-multiselect-wrap{
    padding: 30px !important;
}
.k-button{
background-color: #00a8ff;
color: #fff;
background: #00a8ff;
}
.k-icon{
    margin-top: 13px;
}

.k-button .k-icon {
	margin-top: 3px;
	color: #FFF !important;
}

.k-widget.k-colorpicker .k-icon.k-i-arrow-s {
	margin-top: 15px;
}


/*=============================================Styling for index=========================================*/
.index-kendo-grid tr td:nth-child(2) ,.index-kendo-grid tr td:nth-child(3),.index-kendo-grid tr td:nth-child(4),.index-kendo-grid tr td:nth-child(5),.index-kendo-grid tr td:nth-child(6) {
    text-align:left !important;
}


.check-det-2,.check-det-1{
    border-style:none !important;
    background:transparent !important;
}
.main-section-left-tab-title-filter {
    margin-left: 22px;
    padding-top: 27px;
    padding-bottom: 11px;
    padding-left: 0px;
    padding-right: 0px;

}
.main-section-right-tab-title-filter {
    padding-top:27px;
    padding-bottom:11px;

}
.main-section-actions {
    padding-top: 18px;
    padding-bottom: 17px;
}
 .main-section-action-tab-title {
    padding-bottom: 3px;
}
.nav-border {
    border-bottom: dashed 1px #ccc !important;
}
/*alter:19-01-17*/
#tabTable .nav-border {
    border-bottom: none !important;
}
.tabs-section-nav{
    overflow:visible;
}
#tabTable ul.nav li.nav-item {
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;	/*alter:19-01-17*/
}
.tab-width-75{
    width: 75%;
    display: inline-block;
    float: left;
}
.tab-width-25{
    display: inline-block;
    width: 25%;
    position: absolute;
}
.mapview-combo .k-icon{
    margin-top:7px;
}
/*=============================================Styling for Multiselect Dropdown =========================================*/
.mapview_multiselect .k-state-hover{
	background:#16b4fc;
	color:#fff;
	background-color:#16b4fc !important;
}

/*==========================styling for checkbox=============================================*/
.checkbox input[type=checkbox]:checked+label:after, .radio input[type=checkbox]:checked+label:after{
color: #16b4fc;
}
.no-border:hover{
	border:1px solid #16b4fc !important;
    padding: 10px;
}

a.btn:focus{
	/*border-radius:3px;
    background-color: #16b4fc;*/
}
/*==============================================Styling for Product Mapping============================================*/
.product-map-border{
    border-right: none;
}
.text-color-blue{
    color: #00a8ff
}
.text-color-grey-pro-map{
    font-size: 12px;
    color: #878787;
}
.label_head{
    width: 41.333333 !important;
}
.content-section-align{
    padding-left: 25px;
}
.border-box-for-upload{
    border: 1px dashed #838385;
}
.map-product-wrapper {
	margin: 10px 0 35px;
}

.btn-move-right{
    padding: 5px 100px 0px 26px;
}
.kendo-btn-for-upload-file{
    padding: 13px;
    width: 75%;
    background-color: #8c4299;
    /*color: #fff;*/
    border: none;
}
.kendo-btn-for-upload-file:hover{
    padding: 13px;
    width: 75%;
    background-color: #16b4fc;
    border: none;
}
.border-right-for-upload{
    padding: 36px 0px 0px;
    padding-bottom: 50px;
    border-right: 1px solid #e9e9eb;
}
.border-right-for-upload-btn{
    padding: 60px 0px 0px 80px;
    /*border-right: 1px solid #ccc;*/
}
.kendo-btn-for-map-product{
    padding:3px;
    width: 75%;
    background-color: #00a8ff;
}
.label_sub_btn{
    padding-top: 5px/*20px*/;
}
.label_head_manual_mapping{
border-bottom: 1px solid #ccc;
 width: 100% !important;
}
.map-selected-for-pro{
    margin-top: 30px;
}
.fileContainer {
    border: 1px solid;
    padding: 15px;
    text-align: center;
    background-color: #8c4299;
    border-color: #8c4299;
    color: #fff;
    cursor: pointer;
}
.fileContainer [type=file] {
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
   display: none;
    top: 0;
}


table { border-collapse: collapse; }
.percent {
    position: absolute; width: 300px; height: 14px; z-index: 1; text-align: center; font-size: 0.8em; color: white;
}
.progress-bar {
    width: 300px; height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}
.uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}
.dropbox {
    width: 15em;
    height: 3em;
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #FEFFEC;
    text-align: center;
    color: #BBB;
    font-size: 2em;
    font-family: Arial, sans-serif;
}
.dropbox span {
    margin-top: 0.9em;
    display: block;
}
.dropbox.not-available {
    background-color: #F88;
}
.dropbox.over {
    background-color: #bfb;
}
/*=========================================Styling for Map view 2====================================================*/
.map-view2-sub-content{
    color: #8c4299;
    font-size:12px;
}
.map-view2-checkbox-area{
    padding-top: 7px;
}
.map-view2-sales-potetial{
    font-size: 12px;
    border-radius: 2px;
    background-color: #8C4299;
    border:none;
}
.map-view2-sales-acheived{
    font-size: 12px;
    border-radius: 2px;
    background-color: #00a8ff;
    border:none;
}
path{
    fill-opacity:0.8;
    /*stroke-opacity:0;*/
}
.vlines, .hlines{
    stroke:rgb(150,148,109);
    shape-rendering:crispEdges;
    stroke-width:1px;
    stroke-opacity:0.3;
}
.hlabels line, .vlabels line{
    stroke:rgb(150,148,109);
    shape-rendering:crispEdges;
    stroke-width:1px;
    stroke-opacity:0.7;
}
.hlabels text, .vlabels text{
    color:rgb(150,148,109);
    font-size:12px;
}
svg{
    float:left;
    margin-left: -15px;
}
.legend{
    display:inline-block;
    margin:10px;
    margin-top:30px;
    margin-left:0;
    max-height:280px;
    min-width:120px;
    overflow:auto;
}
.legend table{
    border-collapse:collapse;
    border-spacing:0;
}
.legend tr, .legend td, .legend div{
    margin:0;
    padding:0;
}
.legend div{
    width:20px;
    height:20px;
    float: left;
}
.legend span{
    padding: 0 5px;
    margin:0
}
.legend tr:hover{
    background:rgba(192,192,191,1);
}
.distquantdiv{

    padding:10px;

    margin: 20px;
}
.distquantdiv h3{
    padding-left: 40px;
    margin-bottom:10px;
}
.stat{
    font-size:12px;
}
#contentDiv{
    margin-left: -15px;
}



/*========================================= Index page internal styling ====================================================*/

.tabpanel-section  .tabs-section-nav.tabs-section-nav-inline .nav-link.active {
    border-bottom: solid 0px #343434;
}
.tabpanel-section .table thead th {
    background: none;
}
.tabpanel-section .selected{
    background-color: #8c4299!important;
}
.tabpanel-section .selected a{
    color: #ffffff!important;
}
.tabpanel-section .tabs-section-nav.tabs-section-nav-inline .nav-item {
	margin: 0px;
}
.tabpanel-section .table-striped tbody tr:nth-of-type(even) {
    background-color: #faf5fb;
}



/*========================================= Login page internal styling ====================================================*/

.sign-up-box {
	margin-left: 20% !important;
    margin-top: 15%;
    box-shadow: 1px 1px 1px #aaa;
}

.sign-up-container {
	position: absolute;
	top: 23%;
	left: 40%;
	z-index: 23;
	background-color: #FFF;
	padding: 20px;
	border-radius: 7px;
    border: 1px solid #d8e2e7;
    box-shadow: 1px 1px 1px #aaa;
}

.sign-up-container .logo-wrapper {
    text-align: center;
    max-width: 270px;
}

.sign-up-container .logo-wrapper img {
    width: 90%;
}

.sign-box .sign-title {
	font-size: 1.25rem;
    text-align: center;
    margin: 0 0 15px;
    line-height: normal;
}

form.sign-box input {
	border-color: #bebec3;
	color: #515967;
    font-weight: 500;
    height: 2.5rem;
    border-radius: 5px;
}

form.sign-box .btn.btn-rounded {
	width: 100%;
	margin-bottom: 10px;
}

.login-fader .ng-fader-pagination {
	display: none;
}

.login-fader .ng-fader-controls {
	display: none;
}



/*========================================= Competitive Analysis page styling ====================================================*/

.competitive-analysis .filter-section-title_target{
    color: #00a8ff;
    font-weight: bold;
}

.competitive-analysis .filter-section-title_acheived{
    color: #46c35f;
    font-weight: bold;
}

.competitive-analysis .tabs-section-nav.tabs-section-nav-inline .nav-link.active {
    border-bottom: solid 0px #343434;
}

.competitive-analysis .table thead th {
    background: none;
}

.competitive-analysis .selected{
    background-color: #8c4299!important;
}

.competitive-analysis .selected a{
    color: #ffffff !important;
}

.competitive-analysis .tabs-section-nav.tabs-section-nav-inline .nav-item {
	margin: 0px;
}

.competitive-analysis .nvd3.nv-pie .nv-pieLabels text {
    font-weight: 300;
    fill: #fff !important;
}
.competitive-analysis .nvd3.nv-pie .nv-pie-title {
    font-weight: 600;
    fill: #000 !important;
    font-size: 16px;
}
.competitive-analysis .k-competitive2 Table tr:nth-child(even) td {
    background: #feefd8;
}


/*Reverse Round-Robin Fashion*/
.competitivePieChart1 .nv-series:nth-child(1){ transform: translate(-225px, 0); -ms-transform: translate(-225px, 0); }
.competitivePieChart1 .nv-series:nth-child(2){ transform: translate(-225px, 20px); -ms-transform: translate(-225px, 20px); }
.competitivePieChart1 .nv-series:nth-child(3){ transform: translate(-225px, 40px); -ms-transform: translate(-225px, 40px); }
.competitivePieChart1 .nv-series:nth-child(4){ transform: translate(-225px, 60px); -ms-transform: translate(-225px, 60px); }
.competitivePieChart1 .nv-series:nth-child(5){ transform: translate(-225px, 80px); -ms-transform: translate(-225px, 80px); }
.competitivePieChart1 .nv-series:nth-child(6){ transform: translate(-225px, 100px); -ms-transform: translate(-225px, 100px); }
.competitivePieChart1 .nv-series:nth-child(7){ transform: translate(-225px, 120px); -ms-transform: translate(-225px, 120px); }
.competitivePieChart1 .nv-series:nth-child(8){ transform: translate(-85px, 0px); -ms-transform: translate(-85px, 0px); }
.competitivePieChart1 .nv-series:nth-child(9){ transform: translate(-85px, 20px); -ms-transform: translate(-85px, 20px); }
.competitivePieChart1 .nv-series:nth-child(10){ transform: translate(-85px, 40px); -ms-transform: translate(-85px, 40px); }
.competitivePieChart1 .nv-series:nth-child(11){ transform: translate(-85px, 60px); -ms-transform: translate(-85px, 60px); }
.competitivePieChart1 .nv-series:nth-child(12){ transform: translate(-85px, 80px); -ms-transform: translate(-85px, 80px); }
.competitivePieChart1 .nv-series:nth-child(13){ transform: translate(-85px, 100px); -ms-transform: translate(-85px, 100px); }
.competitivePieChart1 .nv-series:nth-child(14){ transform: translate(20px, 0px); -ms-transform: translate(20px, 0px); }
.competitivePieChart1 .nv-series:nth-child(15){ transform: translate(20px, 20px); -ms-transform: translate(20px, 20px); }
.competitivePieChart1 .nv-series:nth-child(16){ transform: translate(20px, 40px); -ms-transform: translate(20px, 40px); }
.competitivePieChart1 .nv-series:nth-child(17){ transform: translate(20px, 60px); -ms-transform: translate(20px, 60px); }
.competitivePieChart1 .nv-series:nth-child(18){ transform: translate(20px, 80px); -ms-transform: translate(20px, 80px); }
.competitivePieChart1 .nv-series:nth-child(19){ transform: translate(20px, 100px); -ms-transform: translate(20px, 100px); }
.competitivePieChart1 .nv-series:nth-child(20){ transform: translate(20px, 120px); -ms-transform: translate(20px, 120px); }
.competitivePieChart1 .nv-series:nth-child(21){ transform: translate(20px, 140px); -ms-transform: translate(20px, 140px); }
.competitivePieChart1 .nv-series:nth-child(22){ transform: translate(20px, 160px); -ms-transform: translate(20px, 160px); }
.competitivePieChart1 .nv-series:nth-child(23){ transform: translate(20px, 180px); -ms-transform: translate(20px, 180px); }
.competitivePieChart1 .nv-series:nth-child(24){ transform: translate(20px, 200px); -ms-transform: translate(20px, 200px); }
.competitivePieChart1 .nv-series:nth-child(25){ transform: translate(20px, 220px); -ms-transform: translate(20px, 220px); }
.competitivePieChart1 .nv-series:nth-child(26){ transform: translate(20px, 240px); -ms-transform: translate(20px, 240px); }
.competitivePieChart1 .nv-series:nth-child(27){ transform: translate(20px, 260px); -ms-transform: translate(20px, 260px); }
.competitivePieChart1 .nv-series:nth-child(28){ transform: translate(20px, 280px); -ms-transform: translate(20px, 280px); }
.competitivePieChart1 .nv-series:nth-child(29){ transform: translate(20px, 300px); -ms-transform: translate(20px, 300px); }
.competitivePieChart1 .nv-series:nth-child(30){ transform: translate(20px, 320px); -ms-transform: translate(20px, 320px); }

.competitivePieChart1 .nv-legend{ transform: translate(220px, 20px); }

.export-options {
    float: right;
}
.export-options.dropdown.download-options .dropdown-menu.dropdown-menu-right.tab-actions-pop {
    right: 0;
}

/*========================================= Styling for input type file ========================================*/

.customized-file.btn {
	padding: 0;
	border: none !important;
	background: none !important;
	height: 28px;
}

.customized-file.btn:hover {
	background: none !important;
}

.customized-file input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.customized-file input[type="file"] + label {
    background-color: #8c4299;
    display: inline-block;
    margin: 0;
    width: 100%;
    cursor: pointer;
    border: 1px solid #8c4299;
    border-radius: 0;
    text-align: left;
	height: 28px;
	line-height: 28px;
    padding: 0 5px;
	color: #FFF;
	font-weight: normal;
}

.customized-file input[type="file"] + label:hover {
    background-color: #00a8ff;
    border: 1px solid #00a8ff;
}


/*For blue button*/
.customized-file input[type="file"] + label.btn-purple {
    background-color: #8c4299;
    display: inline-block;
    margin: auto;
    width: 100%;
    cursor: pointer;
    border: 1px solid #8c4299;
    border-radius: 0;
    text-align: center;
	height: 40px;
	line-height: 36px;
    padding: 0 5px;
	color: #FFF;
	font-weight: normal;
}
.customized-file input[type="file"] + label.btn-purple:hover {
    background-color: #03A9F4;
    border: 1px solid #03A9F4;
}
.customized-file input[type="file"][disabled] + label.btn-purple {
    background-color: #5bc7f8;
    cursor: not-allowed;
}

/*For Browse Button*/
.customized-file.btn-browse {
	padding: 0 !important;
	height: auto;
}

.customized-file.btn-browse input[type="file"] + label.btn-purple {
	height: auto;
	line-height: initial;
	padding: 5px;
}


/*========================================= Styling for Super Admin Navbar ========================================*/

navbarsuper .site-header .site-header-collapsed .site-header-collapsed-in {
    margin-right: 10px;
}


/*========================================= Styling for Admin Navbar ========================================*/

.site-header .site-header-collapsed a.btn.btn-nav:hover {
	color: #FFF !important;
}


/*============================================== Styling for Google Map ==============================================*/

.map-label-custom {
    padding: 0px 3px;
    background-color: #FFF;
    border-radius: 10px;
    font-weight: bold;
}


/*============================================== Styling for Numeric Text input without spinner ==============================================*/

input[type=number].no-spinner::-webkit-inner-spin-button,
input[type=number].no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.width-100-imp {
	width: 100% !important;
}


/*============================================== Custom Styling ==============================================*/

.sub-locations.label-primary:not(:first-child) {
	margin-left: 5px;
}


/* Fancy Checkboxes */
.radio-fancy input[type="radio"] {
	position: absolute;
    visibility: hidden;
}
.radio-fancy input+label {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border-top:0px solid #ccc;
    border-left:0px solid #ccc;
	padding: 0 10px 0 40px;
}
.radio-fancy input+label:before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #c5d6de;
    position: absolute;
    left: 12px;
    top: 23%;
    margin-top: -4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;

}
.radio-fancy.blue input:checked+label:before {
    border-color: #00a8ff;
    background-color: #00a8ff;
}
.radio-fancy.magento input:checked+label:before {
    border-color: #00a8ff;
    background-color: #00a8ff;
}

.radio-fancy.inline-radios {
	display: inline-block;
	position: relative;
}

/* fancy compact radios */
.radio-fancy.compact input+label {
    padding: 0 0 0 12px;
    margin-top: 0;
    text-align: left;
}
.radio-fancy.compact input+label:before {
    left: 0;
    top: 1px;
    margin-top: 0;
}


.margin-t-20 {
	margin-top: 20px !important;
}
.margin-b-20 {
	margin-bottom: 20px !important;
}
.margin-b-15 {
	margin-bottom: 15px !important;
}
.margin-b-10 {
	margin-bottom: 10px !important;
}
.margin-r-10 {
	margin-right: 10px !important;
}
.margin-y-10 {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.margin-y-20 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.padd-t-0 {
	padding-top: 0 !important;
}

.padd-t-b-1r {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

.padd-t-b-1-2r {
	padding-top: 1.2rem !important;
	padding-bottom: 1.2rem !important;
}


.text-bold {
	font-weight: bold !important;
}

.display-block {
	display: block !important;
}

.display-inline-block {
	display: inline-block !important;
}

.custom-select-1 {
	background-color: #d6f2ff;
    border: none;
    padding: 5px 10px;
}

.loader-backdrop {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 59;
	background-color: rgba(255, 255, 255, 0.5);
}

.loader-backdrop .loader-div {
	display: block;
    color: #777;
    padding: 1% 2%;
    width: 15%;
    margin: auto;
    margin-top: 20%;
    text-align: center;
    font-size: 12px;
}

.filter-area.height-manupulated-1 {
	height: calc(100% - 120px) !important;
	top: 120px;
}


.k-textbox.input-box-custom {
	height: 42px !important;
	border-radius: 4px;
}

.icon-custom-1 {
	font-size: 24px;
}


.custom-textarea {
	width: 100%;
    border-radius: 4px;
    border-color: #ceced2;
    padding: 5px;
    color: #222;
    font-size: 16px;
    font-weight: 500;
    text-indent: .33em;
}

.custom-textarea:hover {
	border-color: #bebec3;
}

.custom-textarea:focus {
	-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
}

.custom-input-group {
	font-size: 0;
}

.custom-input-group .k-widget.k-dropdown .k-dropdown-wrap, .custom-input-group .input-box-custom {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.custom-input-group button.btn-save-team-name {
	font-size: 1.05rem;
	border: none;
    border-top: 1px solid #8c4299;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height: 1.72em;
    vertical-align: middle;
}

.custom-input-group .custom-input {
	border: none !important;
	border-radius: 0;
}

.custom-input-group .custom-input:focus {
	box-shadow: none;
	background-color: #fffae6;
    transition: all .15s ease-in;
}

.custom-input-group button.custom-button {
	border: none !important;
    padding: 7px 15px;
    border-radius: 0;
}

button.btn-save-team-name.btn-violet {
	background-color: #8c4299;
}

button.btn-save-team-name.btn-violet:hover {
	background-color: #8c4299;
}

.width-10 {
	width: 10% !important;
}
.width-20 {
	width: 20% !important;
}
.width-25 {
	width: 25% !important;
}
.width-30 {
	width: 30% !important;
}
.width-40 {
	width: 40% !important;
}
.width-45 {
	width: 45% !important;
}
.width-50 {
	width: 50% !important;
}
.width-60 {
	width: 60% !important;
}
.width-70 {
	width: 70% !important;
}
.width-80 {
	width: 80% !important;
}
.width-90 {
	width: 90% !important;
}
.width-100 {
	width: 100% !important;
}


.date-picker-1 {
	width: 100%;
}



/*============================================== Styling for Graphs & Charts ==============================================*/

.discreteBarChart .nv-bar.positive rect[height="1"] + text {
	display: none;
}

.discreteBarChart .nv-controlsWrap.nvd3-svg {

}

.k-grid-header .k-icon {
    margin-top: 1px;
}

.graph-filter-area {
	padding: 20px;
}

.graph-filter-area > .list {
	border: 1px solid #d8e2e7;
	max-height: 47vh;
}

.graph-filter-area > .list > .slimScrollDiv > .head > a {
	display: block;
	padding: 7px 12px;
	background-color: #d6f2ff;
	font-size: 14px;
	color: #222;
}

.graph-filter-area > .list > .slimScrollDiv > .body {
	overflow: auto;
}

.graph-filter-area > .list > .slimScrollDiv > .body > .item {
	display: block;
	padding: 7px 12px;
	color: #222;
    font-size: 12px;
}

.graph-filter-area > .list > .slimScrollDiv > .body > .item:hover, .graph-filter-area > .list > .slimScrollDiv > .body > .item.active {
	background-color: #d6f2ff;
}

.lineBarChart .nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
	fill-opacity: 1;
	stroke-opacity: 1;
}


/*Styling for Slim-scroll*/
.slimScrollDiv .slimScrollBar {
	z-index: 0 !important;
}


.lineBarChart .nv-y2.nv-axis {
	/*display: none;*/
}

/*----- analysis Area Graph -----*/
.productSalesGraph .nv-legendWrap .nv-series:nth-child(1){ -ms-transform: translate(-330px, 20px); transform: translate(-330px, 20px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(2){ transform: translate(-140px, 20px); -ms-transform: translate(-140px, 20px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(3){ transform: translate(60px, 20px); -ms-transform: translate(60px, 20px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(4){ transform: translate(260px, 20px); -ms-transform: translate(260px, 20px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(5){ transform: translate(450px, 20px); -ms-transform: translate(450px, 20px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(6){ transform: translate(-330px, 40px); -ms-transform: translate(-330px, 40px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(7){ transform: translate(-140px, 40px); -ms-transform: translate(-140px, 40px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(8){ transform: translate(60px, 40px); -ms-transform: translate(60px, 40px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(9){ transform: translate(260px, 40px); -ms-transform: translate(260px, 40px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(10){ transform: translate(450px, 40px); -ms-transform: translate(450px, 40px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(11){ transform: translate(-330px, 60px); -ms-transform: translate(-330px, 60px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(12){ transform: translate(-140px, 60px); -ms-transform: translate(-140px, 60px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(13){ transform: translate(60px, 60px); -ms-transform: translate(60px, 60px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(14){ transform: translate(260px, 60px); -ms-transform: translate(260px, 60px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(15){ transform: translate(450px, 60px); -ms-transform: translate(450px, 60px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(16){ transform: translate(-330px, 80px); -ms-transform: translate(-330px, 80px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(17){ transform: translate(-140px, 80px); -ms-transform: translate(-140px, 80px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(18){ transform: translate(60px, 80px); -ms-transform: translate(60px, 80px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(19){ transform: translate(260px, 80px); -ms-transform: translate(260px, 80px); }
.productSalesGraph .nv-legendWrap .nv-series:nth-child(20){ transform: translate(450px, 80px); -ms-transform: translate(450px, 80px); }


.productSalesGraph .nv-legendWrap { -ms-transform: translate(300px, 355px); transform: translate(300px, 355px); }

.productSalesGraph .nv-legend{ -ms-transform: translate(-45px, 355px); transform: translate(-45px, 0); transform: translate(-45px, 0); }
/*.productSalesGraph .nv-focus{ transform: translate(0px, 40px); }*/

.productSalesGraph .nv-context {
	/*display: block !important;*/
	transform: translate(0px, 303px) !important;
}
.productSalesGraph .nv-context .nv-barsWrap {
	display: none !important;
}
.productSalesGraph .nv-context .nv-linesWrap {
	display: none !important;
}

.productSalesGraph .nv-axisMaxMin.nv-axisMaxMin-y.nv-axisMin-y {
	transform: translate(0px, 320px) !important;
}


.margin-top-50{
  margin-top:50px
}
.padding-top-10{
    padding-top: 10px
}

/*----- analysis Multibar Graph -----*/
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(1){ transform: translate(-360px, 10px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(2){ transform: translate(-210px, 10px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(3){ transform: translate(-60px, 10px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(4){ transform: translate(90px, 10px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(5){ transform: translate(240px, 10px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(6){ transform: translate(-360px, 30px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(7){ transform: translate(-210px, 30px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(8){ transform: translate(-60px, 30px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(9){ transform: translate(90px, 30px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(10){ transform: translate(240px, 30px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(11){ transform: translate(-360px, 50px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(12){ transform: translate(-210px, 50px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(13){ transform: translate(-60px, 50px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(14){ transform: translate(90px, 50px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(15){ transform: translate(240px, 50px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(16){ transform: translate(-360px, 70px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(17){ transform: translate(-210px, 70px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(18){ transform: translate(-60px, 70px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(19){ transform: translate(90px, 70px); }
.productSplitSalesGraph .nv-legendWrap .nv-series:nth-child(20){ transform: translate(240px, 70px); }

.productSplitSalesGraph .nv-legendWrap { transform: translate(280px, 350px); }
.productSplitSalesGraph .nv-legendWrap .nv-legend { transform: translate(0, 0); }

.productSplitSalesGraph .nv-wrap .nv-x.nv-axis g.tick > text {
	opacity: 1 !important;
	transform: translate(-14px,15px) rotate(-15deg);
    font-size: 10px;
}



/*----- Competitive Analysis Multibar Graph -----*/
.competitiveMultibarGraph {
    margin-top: 15px;
}

.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(1){ transform: translate(-360px, 10px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(2){ transform: translate(-210px, 10px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(3){ transform: translate(-60px, 10px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(4){ transform: translate(90px, 10px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(5){ transform: translate(240px, 10px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(6){ transform: translate(-360px, 30px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(7){ transform: translate(-210px, 30px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(8){ transform: translate(-60px, 30px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(9){ transform: translate(90px, 30px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(10){ transform: translate(240px, 30px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(11){ transform: translate(-360px, 50px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(12){ transform: translate(-210px, 50px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(13){ transform: translate(-60px, 50px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(14){ transform: translate(90px, 50px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(15){ transform: translate(240px, 50px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(16){ transform: translate(-360px, 70px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(17){ transform: translate(-210px, 70px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(18){ transform: translate(-60px, 70px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(19){ transform: translate(90px, 70px); }
.competitiveMultibarGraph .nv-legendWrap .nv-series:nth-child(20){ transform: translate(240px, 70px); }

.competitiveMultibarGraph .nv-legendWrap { transform: translate(280px, 350px); }
.competitiveMultibarGraph .nv-legendWrap .nv-legend { transform: translate(0, 0); }

.competitiveMultibarGraph .nv-wrap .nv-x.nv-axis g.tick > text {
	opacity: 1 !important;
	transform: translate(-14px,15px) rotate(-15deg);
    font-size: 10px;
}


/*----- Market Share Multibar Graph 2 -----*/
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(1){ transform: translate(-360px, 10px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(2){ transform: translate(-230px, 10px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(3){ transform: translate(-100px, 10px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(4){ transform: translate(30px, 10px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(5){ transform: translate(-360px, 30px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(6){ transform: translate(-230px, 30px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(7){ transform: translate(-100px, 30px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(8){ transform: translate(30px, 30px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(9){ transform: translate(-360px, 50px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(10){ transform: translate(-230px, 50px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(11){ transform: translate(-100px, 50px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(12){ transform: translate(30px, 50px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(13){ transform: translate(-360px, 70px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(14){ transform: translate(-230px, 70px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(15){ transform: translate(-100px, 70px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(16){ transform: translate(30px, 70px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(17){ transform: translate(-360px, 90px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(18){ transform: translate(-230px, 90px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(19){ transform: translate(-100px, 90px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-series:nth-child(20){ transform: translate(30px, 90px); }

.marketShareChartWrapper_2 .nv-legendWrap { transform: translate(280px, 320px); }
.marketShareChartWrapper_2 .nv-legendWrap .nv-legend { transform: translate(0, 0); }

.marketShareChartWrapper_2 .nvd3.nv-wrap.nv-axis .tick text {
    transform: translate(0px, 0px);
}


/*----- Stacked Area Graph -----*/
.stackedAreaChart .nv-legendWrap .nv-series:nth-child(1){ transform: translate(-210px, 20px); }
.stackedAreaChart .nv-legendWrap .nv-series:nth-child(2){ transform: translate(-10px, 20px); }
.stackedAreaChart .nv-legendWrap .nv-series:nth-child(3){ transform: translate(190px, 20px); }
.stackedAreaChart .nv-legendWrap .nv-series:nth-child(4){ transform: translate(390px, 20px); }
.stackedAreaChart .nv-legendWrap .nv-series:nth-child(5){ transform: translate(-210px, 40px); }
.stackedAreaChart .nv-legendWrap .nv-series:nth-child(6){ transform: translate(-10px, 40px); }
.stackedAreaChart .nv-legendWrap .nv-series:nth-child(7){ transform: translate(190px, 40px); }
.stackedAreaChart .nv-legendWrap .nv-series:nth-child(8){ transform: translate(390px, 40px); }
.stackedAreaChart .nv-legendWrap .nv-series:nth-child(9){ transform: translate(-210px, 60px); }
.stackedAreaChart .nv-legendWrap .nv-series:nth-child(10){ transform: translate(-10px, 60px); }
.stackedAreaChart .nv-legendWrap .nv-series:nth-child(11){ transform: translate(190px, 60px); }
.stackedAreaChart .nv-legendWrap .nv-series:nth-child(12){ transform: translate(390px, 60px); }
.stackedAreaChart .nv-focus{ transform: translate(0px, 40px); }

.stackedAreaChart .nv-legend{ transform: translate(0px, 0px); }
@media screen and (max-width: 1300px) and (min-width: 800px){
    .stackedAreaChart .nv-legend{ transform: translate(100px, 0px); }
}

.stackedAreaChart .nv-axisMaxMin.nv-axisMaxMin-x.nv-axisMin-x {
	visibility: hidden;
}

.no-data-available {
	text-align: center;
}

.custom-table-1 table thead tr > th:last-child, .custom-table-1 table tbody tr > td:last-child  {
	text-align: center;
}

.custom-table-2 table tbody tr.k-alt {
	background-color: #feefd8;
}

.custom-table-2 table tbody tr:hover {
	background-color: #fcc875 !important;
}

.custom-table-2 table tbody tr td {
	padding: 3px 8px;
}

.custom-table-2 table tbody tr td .checkbox {
	margin-bottom: 0;
}

.custom-table-2 table tbody tr td .checkbox label {
	vertical-align: middle;
	z-index: 1;
}

.custom-table-2 .action-link > a {
    color: #515967;
}
.custom-table-2 .action-link > a:hover {
    color: #888;
    text-decoration: underline;
}

.custom-button {
	width: auto;
	padding: 2px 12px;
	margin-top: 0;
}


.sub-info-row {
	border: 1px solid #DDD;
}

.sub-info-col:first-child {
	height: 100%;
	border-right: 1px solid #DDD;
}

.sub-info-col:nth-child(2) {
    border-left: 1px solid #DDD;
    margin-left: -1px;
}

.sub-info-col > .row {
	padding: 2rem;
}

.sub-info-col .price {
	font-weight: bold;
	font-size: 1.5rem;
}

.sub-info-col .title {
	font-weight: bold;
	font-size: 1.2rem;
}


.k-pager-wrap.k-grid-pager .k-icon {
	margin-top: 0;
}

.k-pager-sizes .k-widget.k-dropdown {
	width: 80px;
}


/*---------- Notify Alert ----------*/
.notify-bg {
	background-color: #ff2a2a;
	color: #FFF;
}

.notify-bg .cg-notify-close {
	color: rgba(0, 0, 0, 1);
}


/*---------- Form Validation ----------*/
.mandatory-sign {
	color: #f05050;
	margin-left: 5px;
	font-size: 20px;
    line-height: 0;
    position: relative;
    top: 5px;
}

.help-block {
	color: #f05050;
}


/*------------ Styling for Modal starts ------------*/

.modal-content input {
	border: 1px solid #dce4e8;
}

.modal-content input:focus {
	border: 1px solid #b8c5cc;
	background-color: #fffae6;
}

.modal .row {
	margin-left: 0;
	margin-right: 0;
}

.modal [class*="col-"] {
	padding-left: 0;
	padding-right: 0;
}

.modal .modal-header .title {
	margin-bottom: 0;
}

.modal .close-icon {
	position: absolute;
	right: 10px;
    top: 10px;
}

.modal .error-msg {
	color: #fc3535;
}

.imageChangeModal .modal-body {
    padding: 15px 30px;
}

.imageChangeModal .imgFrame {
	width: 25%;
	margin: auto;
	padding: 15px;
    border: 7px solid #DDD;
}

.img-resp {
	width: 100% !important;
	height: auto !important;
}

.img-height-100 {
	width: 100% !important;
	height: 100% !important;
}

.img-width-auto {
	width: auto !important;
	height: 100% !important;
}

.imageChangeModal .avatarBox {
	border: 1px solid #DDD;
	padding: 13px;
}

.imageChangeModal .avatarBox .wrapper {
	padding: 6px 0;
    text-align: center;
}

.imageChangeModal .avatarBox .wrapper img {
	cursor: pointer;
	width: 70% !important;
}

.imageChangeModal .avatarBox .wrapper img:hover {
	-ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform 0.6s;
}

.imageChangeModal .footer {
	text-align: center;
	margin-top: 10px;
}
/*------------ Styling for Modal ends ------------*/

/*------------ Styling Select starts ------------*/
.ui-select-multiple.ui-select-bootstrap {
	min-height: 45px;
	padding: 5px;
}

.ui-select-multiple.ui-select-bootstrap.open {
    background-color: #fffae6;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item.btn.btn-default {
	background-color: #16b4fc;
    border-color: #16b4fc;
    padding: 3px 4px !important;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
	width: 100% !important;
    padding: 3px 4px !important;
    height: auto !important;
    line-height: normal;
    margin-bottom: 0;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item.btn.btn-default .ui-select-match-close {
	color: #FFF;
    opacity: 1;
    text-shadow: none;
}

.ui-select-bootstrap .ui-select-choices-row.active > span, .ui-select-bootstrap .ui-select-choices-row:hover > span {
	background-color: #21b7fc;
	color: #FFF;
}

/*------------ Styling Select ends ------------*/


/*------------ Kendo Data Grid scroll begins ------------*/
.table-scrollable .k-grid-content, .table-scrollable .k-grid-header {
	width: 100%;
	white-space: nowrap;
	overflow: auto;
}
/*------------ Kendo Data Grid scroll ends ------------*/

.fancy-divider {
	font-size: 0;
}

.fancy-divider .block {
	display: inline-block !important;
	font-size: 1rem;
	text-align: center;
}

.fancy-divider .block:first-child, .fancy-divider .block:last-child {
	height: 38px;
}

.imageBrowseWrapper {
	width: 70%;
	margin-left: auto;
}

.imageBrowseWrapper .img-wrapper {
	border: 1px solid #ceced2;
	padding: 25px;
}

.imageBrowseWrapper .title {
	margin: 4px 0 5px;
    font-size: 13px;
	color: #AAA;
}

.imageBrowseWrapper .browse-button {
	width: 100%;
	border-radius: 0;
}

.m-all-0 {
	margin: 0 !important;
}

.site-header .site-header-collapsed {
	width: 98%;
}


/*----- Styling for left side Filter section begins -----*/
.filter-area input, .filter-area k-input {
	padding: 0 !important;
}

.filter-area .k-dropdown-wrap.k-state-default {
	border: none;
	border-radius: 0;
	padding: 0;
    box-shadow: none;
}
.filter-area .k-dropdown-wrap.k-state-hover {
	background-color: transparent;
}

.filter-area .k-dropdown-wrap.k-state-focused .k-input {
	border-radius: 0;
	border: none;
	box-shadow: none;
}

.filter-area .k-state-default > .k-select {
	border-left: none;
	border-radius: 0;
	background: none;
}

.filter-area .k-state-default > .k-select > .k-icon {
	margin-top: 5px;
}

.filter-area .k-dropdown-wrap.k-state-hover.k-state-default > .k-select {
	background: transparent;
}

.filter-area .btn-competitiveteam {
    padding: 3px 10px;
    border: none;
}

.k-animation-container .k-popup.k-list-container {
    border: 1px solid #EEE !important;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-select-container[theme="bootstrap"].direction-up .ui-select-dropdown {
    box-shadow: none;
    border-radius: 0;
}

.tabPanelFixed1 {
	position: fixed;
    top: 80px;
    width: 100%;
    z-index: 1;
}

.competitive-analysis .site-main-content.block-content {
	margin-top: 40px;
}

/*----- Styling for left side Filter section ends -----*/

/* Align a div vertically middle */
.vertical-middle-relative {
	position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo-wrapper {
	padding:0;
	height: 60%;
	overflow: hidden;
}

/*----- Styling for Sliding Side menu begins -----*/
.sidemenu-trigger {
    vertical-align: middle;
    display: inline-block;
}

.sidemenu-trigger span.glyphicon {
    color: #8c4299;
}

.sidemenu-trigger:hover span.glyphicon {
    color: #d5abdc;
}

.hide-slidemenu .filter-area {
    transform-origin: left top;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(25%);
    -o-transform: translateX(25%);
    transform: translateX(-100%);
}

.hide-slidemenu .site-main-content {
    padding-left: 0;
}

.analysis .tabs-section-nav.tabs-section-nav-inline > ul.nav {
    width: 55%;
    display: inline-block;
    float: left;
    -webkit-transition: width .3s cubic-bezier(.72,.06,1,1);
    -moz-transition: width .3s cubic-bezier(.72,.06,1,1);
    -o-transition: width .3s cubic-bezier(.72,.06,1,1);
    transition: width .3s cubic-bezier(.72,.06,1,1);
}

.hide-slidemenu .analysis .tabs-section-nav.tabs-section-nav-inline > ul.nav {
    width: 80%;
}
/*----- Styling for Sliding Side menu ends -----*/

/*----- Styling for back-to-home begins -----*/
.back-to-home {
	vertical-align: middle;
    display: inline-block;
	font-size: 20px;
    margin-right: 10px;
}

.back-to-home > span {
	color: #eacd9f;
	-webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.back-to-home:hover > span {
	color: #d0b284;
}
/*----- Styling for back-to-home ends -----*/

.map-wrapper {
    height: 75vh;
    width: 100%;
}


/*----- Styling for New Navbar begins -----*/
/*USER*/
.navbar-wrapper {
	height: 80px;
	background-color: #FFF;
	position: fixed;
    width: 100%;
    z-index: 2;
    -webkit-box-shadow: 0px 6px 3px -1px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 6px 3px -1px rgba(0,0,0,0.26);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    border-bottom: solid 1px #e7e7e7;
}

.navbar-wrapper .row {
	margin: 0;
}

.navbar-wrapper [class*="col-"] {
	padding: 0;
}

.navbar-wrapper .height-100 {
	height: 100%;
}

.navbar-wrapper .main-logo-wrapper {
	display: inline-block;
	width: 20%;
	height: 65%;
}

.navbar-wrapper .main-logo-wrapper > a {
	display: inline-block;
	height: 100%;
}

.navbar-wrapper .menu-wrapper {
	display: inline-block;
	height: 80px;
	line-height: 80px;
}

.navbar-wrapper .menu-wrapper > a {
	display: inline-block;
	line-height: normal;
	font-size: 14px;
	padding: 7px 15px;
	color: #333;
}

.navbar-wrapper .menu-wrapper > a:hover {
	background-color: #16b4fc;
	color: #FFF;
}

.navbar-wrapper .menu-wrapper > a:not(:last-of-type) {
	margin-right: 15px;
}

.navbar-wrapper .right-wrapper {
	display: inline-block;
	float: right;
	height: 100%;
	line-height: normal;
	width: 45%;
}


.navbar-wrapper .dropdown.user-menu {
	display: inline-block;
	width: 15%;
	float: right;
	margin-right: 10px;
}

.navbar-wrapper .dropdown.user-menu .dropdown-toggle {
	cursor: pointer;
	text-align: center;
}

.navbar-wrapper .dropdown.user-menu .dropdown-toggle::after {
	display: none;
}

.navbar-wrapper .dropdown.user-menu .dropdown-toggle .img-resp {
	width: 60% !important;
}

.navbar-wrapper .dropdown.user-menu .dropdown-toggle .icon {
	font-size: 11px;
}

.navbar-wrapper .user-menu.dropdown .arrow-top {
	position: absolute;
	font-size: 24px;
    left: 145px;
    top: -16px;
    color: #f6fafb;
}

.navbar-wrapper .dropdown-menu .arrow-top-export-menu {
    position: relative;
    font-size: 24px;
    left: 177px;
    top: -37px;
    color: #f6fafb;
}

.navbar-wrapper .right-wrapper .user-info {
	float: right;
}

.navbar-wrapper .right-wrapper .user-info .title {
	color: #16b4fc;
	font-size: 16px;
}

.navbar-wrapper .right-wrapper .user-info .sub-title {
	margin-top:-2px;
	font-size: 12px;
	font-style: italic;
	text-align: right;
}

.navbar-wrapper .right-wrapper .sub-logo-wrapper {
	display: inline-block;
	height: 80%;
	float: right;
}

/*ADMIN*/
.navbar-wrapper.admin .right-wrapper {
	width: 40%;
}

.navbar-wrapper.admin .menu-wrapper > a:not(:last-of-type) {
	margin-right: 10px;
}

.navbar-wrapper.admin .menu-wrapper > a {
	padding: 5px 10px;
}

.navbar-wrapper.admin .user-menu.dropdown .arrow-top {
	left: 154px;
}
/*----- Styling for New Navbar ends -----*/

.clear-float-both {
	clear: both;
}

.dropdown.download-options .dropdown-toggle {
    color: #999;
}

.dropdown.download-options .dropdown-menu.dropdown-menu-right.tab-actions-pop {
    position:absolute;
    right:30px;
    top:22px;
    padding: 0px 15px 7px;
}

.dropdown.download-options .dropdown-menu.dropdown-menu-right.tab-actions-pop a.dropdown-item {
    border-bottom: 1px dotted #ccc;
}
.dropdown.download-options .dropdown-menu.dropdown-menu-right.tab-actions-pop a.dropdown-item:last-of-type {
    border: none;
}

.dropdown.download-options .arrow-top-export-menu {
    font-size: 24px;
    left: 153px;
    top: -16px;
    color: #f6fafb;
}

.custom-modal.small .modal-header .close-icon {
	line-height: normal;
	padding: 2px 5px;
	float: right;
	position: static;
}

.custom-modal.small .modal-header .title {
	text-align: center;
	font-size: 1.3rem;
}

.custom-modal.small .modal-body .message {
	margin: 0;
	text-align: center;
	font-size: 1.0rem;
}

.productSalesGraph .nvd3 .nv-point-paths path {
	/*display: none;*/
}

.checkbox input+label, .radio input+label {
	z-index: 1;
}


.dropZoneContainer {
    border: 1px dashed #838385;
    text-align: center;
    color: #555;
    width: 60%;
    margin: auto;
    background-image: url("../img/c.png");
    background-repeat: no-repeat;
	background-size: auto 80%;
    background-position: top;
	position: relative;
    height: 100px;
}

.dropZoneContainer.drag-area {
	background-color: #EEE;
	-ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform 0.5s;
}

.dropZoneContainer [type=file] {
    display: block;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    height: 100px !important;
    position: absolute;
	padding: 0 !important;
}

.dropZoneContainer .title {
	position: relative;
    top: 75%;
    margin: 0;
}

.customized-checkbox .form-group .checkbox {
	margin-bottom: 0;
	margin-top: 12px;
}

.customized-checkbox .form-group .checkbox input+label {
	font-size: 13px;
	color: #aaa;
}

.ellipsis-box-1 {
	max-height: 36px;
	overflow: hidden;
    text-overflow: ellipsis;
}

.link-custom {
	color: #999 !important;
}

.link-custom:hover span {
	color: #343434 !important;
}


/* Styling for Both Sided Multiselect widget starts */
.bothsided-select-directive .list-title {
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
    color: #AAAAAA;
}

.bothsided-select-directive .list-item {
	padding: 5px 10px;
	cursor: pointer;
    font-size: 14px;
    -webkit-transition: background .1s ease-in-out;
    -moz-transition: background .1s ease-in-out;
    -o-transition: background .1s ease-in-out;
    transition: background .1s ease-in-out;
}

.bothsided-select-directive .list-item:not(.selected-item):hover {
	background-color: #EEE;
}

.bothsided-select-directive .selected-item {
	background-color: #39c1ff;
    color: #FFFFFF;
}

.bothsided-select-directive .searched-list {
	height: 40vh;
	overflow-y: auto;
	border: 1px solid #DDD;
}

.bothsided-select-directive .no-list-item {
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    color: #AAAAAA;
}

.bothsided-select-directive .move-controls .block {
	margin-top: 56px;
}

.bothsided-select-directive .move-controls .block button.control {
    padding: 3px 8px;
    border: none;
    color: #FFFFFF;
    background-color: #874396;
}

.bothsided-select-directive .move-controls .block button.control:hover {
    background-color: #be75ce;
}

.bothsided-select-directive .move-controls .block button.control:disabled {
    color: #888888;
    background-color: #DDD;
}

.bothsided-select-directive .search-box > input.form-control {
	background-color: #f0faff;
	border-radius: 0;
	border: 1px solid #DDDDDD;
    border-bottom: none;
    font-size: 14px;
    color: #888 !important;
}
/* Styling for Both Sided Multiselect widget ends */

.mapview_multiselect.k-multiselect .k-multiselect-wrap {
    background-color: #ffffff;
}

button.export-trigger.k-button {
    width: auto;
    padding: 4px 8px;
}
button.k-button.export-trigger > span {
    margin-right: 5px;
    color: #FFF;
}

.save-button-wrapper {
    padding-right: 2.5rem !important;
    margin-top: 2rem !important;
}


/*============================================== Styling By Designer Begins ==============================================*/

.k-multiselect-wrap li {
    margin: 1px 0 1px 1px;
    padding: .1em 1.6em .1em .4em;
    line-height: 1.5em;
    float: left;
    position: relative;
    text-align: left;
    padding: 5px 15px;
}

.k-autocomplete .k-input, .k-multiselect-wrap, .k-textbox>input {
    border-radius: 3px;
    padding: 0 /*5px*/;
}

body {
    background: #eceff4;
    text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: subpixel-antialiased !important;
    font-family: 'Proxima Nova',sans-serif !important;
}

.k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input {
    border-radius: 3px 0 0 3px;
    padding: 7px;
}

.k-state-default>.k-select {
    background: #fefefe;
    padding: 0px 5px;
}

.k-multiselect-wrap .k-input {
    background-color: transparent;
    height: 1.31em;
    line-height: 1.31em;
    padding: .18em 0;
    text-indent: .33em;
    border: 0;
    margin: 1px 0 0;
    float: left;
    padding: 7px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 100;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #999;
}
.glyphicon.white {
	color: #FFF;
}

.radio-fancy div {
    color: gray;
}

.site-content-page-heading-left-section {
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}


.nvd3.nv-pie path {
    stroke: #fff;
    stroke-width: 0px;
    stroke-opacity: 1;
}
input{
	height:32px !important;
	padding:5px !important;
	font-size:16px;
}
select{
	font-size:16px;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: solid 1px #e7e7e7;
    padding: 20px 15px 0 0;
    z-index: 80;
}

#tabTable ul.nav li.nav-item {
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}
.main-section-action-tab-title {
    border-bottom: 1px solid #DDD;
    margin: 0px;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 0px;
    height: 46px;
}

.graph-area{
	padding:50px;
	padding-top:20px;
	padding-right: 20px;
}

.analysis .graph-area {
    padding-bottom: 5px;
}

.filter-section {
    margin-top: 5px;
    font-size: 14px;
    border-bottom: 0px dashed #ccc;
    /*overflow: hidden;*/
}

select option{
	font-size:16px;
}
.k-multiselect-wrap li {
    margin: 1px 0 1px 1px;
    padding: .1em 1.6em .1em .4em;
    line-height: 1.15em;
    float: left;
    position: relative;
    text-align: left;
    padding: 5px 15px;
    font-size: 14px;
}

input.k-input.width-100 {
    font-size: medium;
	/*color:#999;*/
}

[placeholder], input[placeholder] {
    color: #16b4fc;
    font-size: 16px;
    font-weight: 500;
    /* border-radius: 0; */
	color:#222 !important;
}

.graph-title{
	color:#16b4fc;
	font-size: 20px;
}

.no-pad{
	padding:0px;
}

.filter-area {
    padding-top: 20px;
    border-right: 1px solid #e7e7e7;
    height: calc(100% - 80px) !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}


.k-grid-header th.k-header {
    font-size: 14px;
    font-weight: normal;
    padding: 9px;
    background-color: #f2f2f2;
}


.nvd3 text {
    font: normal 14px 'Proxima Nova',sans-serif;
}

.k-competitive2 Table td {
    border-bottom: 0px solid #d8e2e7;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: solid 1px #e7e7e7;
    padding: 20px 15px 0 0;
    z-index: 80;
    -webkit-box-shadow: 0px 6px 3px -1px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 6px 3px -1px rgba(0,0,0,0.26);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}

.site-header .site-header-collapsed .site-header-collapsed-in {
    margin-right: 199px;
    zoom: 1;
    margin-left: 50px;
}


.site-main-content {
    background-color: #FFF;
    margin-top: 0px;
    padding: 0px;
    /*min-height: 650px;*/
}


.tabs-section-nav.tabs-section-nav-inline .nav {
    display: block;
    border: 0px solid #d8e2e7;
    zoom: 1;
    background: #f6f8fa;
}


.p-b-1 {
    padding-bottom: 10px !important;
}
.p-y-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.filter-area-heading {
    color: #aaa;
    font-weight: normal;
    font-size: 13px;
}

.b-20{

	margin-bottom:20px;
}


.filter-area {
	padding: 0;
    border-right: 1px solid #e7e7e7;
    width: 25%;
    display: table-cell;
    vertical-align: top;
    position: fixed;
	/* background-color: #f5f5f5; */
	background-color:#e5f3fc;
    height: 100%;
    -webkit-transition: width .3s cubic-bezier(.72,.06,1,1), padding .3s cubic-bezier(.72,.06,1,1), all .3s cubic-bezier(.72,.06,1,1);
    -moz-transition: width .3s cubic-bezier(.72,.06,1,1), padding .3s cubic-bezier(.72,.06,1,1), all .3s cubic-bezier(.72,.06,1,1);
    -o-transition: width .3s cubic-bezier(.72,.06,1,1), padding .3s cubic-bezier(.72,.06,1,1), all .3s cubic-bezier(.72,.06,1,1);
    transition: width .3s cubic-bezier(.72,.06,1,1), padding .3s cubic-bezier(.72,.06,1,1), all .3s cubic-bezier(.72,.06,1,1);
}

.filter-area .filter-area-inner {
	padding: 20px 15px 15px;
}

.site-main-content {
    background-color: #FFF;
    margin-top: 0px;
    padding: 0px;
    /*min-height: 650px;*/
    /*width: 75%;*/
    /*display: table-cell;*/
    padding-left: 25%;
    -webkit-transition: width .3s cubic-bezier(.72,.06,1,1), padding .3s cubic-bezier(.72,.06,1,1);
    -moz-transition: width .3s cubic-bezier(.72,.06,1,1), padding .3s cubic-bezier(.72,.06,1,1);
    -o-transition: width .3s cubic-bezier(.72,.06,1,1), padding .3s cubic-bezier(.72,.06,1,1);
    transition: width .3s cubic-bezier(.72,.06,1,1), padding .3s cubic-bezier(.72,.06,1,1);
}


.site-main-content.block-content {
	display: block;
	width: 100%;
}

.tabs-section-nav {
    position: fixed;
	z-index: 1;
}

.map-filter-panel {
    margin-top: 50px;
}

.map-filter-panel .filter-close {
    display: none;
    background-color: #fff;
    color: #ded0e0;
    cursor: pointer;
    position: absolute;
    left: -4%;
    top: -6%;
    z-index: 9999;
    font-size: 2rem;
}

.map-filter-panel .filter-close:hover {
	color: #8c4299;
}


.main-section-action-tab-title {
    border-bottom: 1px solid #DDD;
    margin: 0px;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 0px;
    height: 46px;
    z-index: 10;
    background: white;
}

[id^="filter-overlay"] {
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: 1;
    filter: alpha(opacity=80);
}

[id^="container_graph_"] {
	width: 100%;
    height: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    z-index: 0;
}

[id^="container_graph_"].enlarged {
	width: 87%;
	position: fixed;
	top: 10%;
	left: 10%;
	z-index: 1002;
}

.pos-none{
	position:relative;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 10px !important;
    font-size: 14px  !important;
    border-radius: .25rem;
}

/*============================================== Styling By Designer Ends ==============================================*/


/*============================================== Styling By Designer Begins (11-04-2017) ==============================================*/
.filter-section-title {
    font-size: 13px;
    /*padding: 0px;*/
    margin: 4px 0px 5px;
    color: #aaa;
}

.site-header-shown img {
    height: 45px;
    width: auto;
}


.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0px solid transparent;
padding:
7px 15px !important
;
    font-size: 14px !important;
    border-radius: 0px;
}


.site-header .btn-nav {
    margin-left: 10px !important;
    margin-top: 0;
}

.dropdown-menu.dropdown-menu-right.tab-actions-pop {
    box-shadow: 3px 3px 6px -2px rgba(0,0,0,0.16);
    border: 0px;
    color: #000 !important;
    min-width: 200px;
    padding: 15px;
}

.k-popup .k-list .k-item {
    background: #fff;
    font-size: 14px;
    padding: 5px 15px;
    font-weight: 500;
}

.form-control {
    border: 0px solid rgba(197,214,222,.7);
    box-shadow: none;
    font-size: 1rem;
    color: #343434!important;
    border-radius: 0;
}

.tab-actions-pop a {
    border-bottom: 1px dotted #ccc;
    padding: 5px;
}


.ui-select-multiple.ui-select-bootstrap .ui-select-match-item.btn.btn-default {
    background-color: #16b4fc;
    border-color: #16b4fc;
    padding: 2px 5px !important;
    -webkit-appearance: none;
	white-space: pre-line;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    outline: 0;
    margin: 0 5px 5px 0;
}

.ui-select-multiple.ui-select-bootstrap {
    min-height: 25px;
    padding: 10px 3px;
}

.k-input:focus {
    background-color: red;
    transition: all .15s ease-out;
}

.k-input:focus {
    background-color: #8c4299;
    transition: all .15s ease-out;
}


.record-rows.p-l-1.p-r-1 {
    margin: 0px 30px;
}

.graph-title {
    color: #16b4fc;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0;
}

[name="market-sales-radio"].ng-valid-parse + label {
    font-weight: bold;
}

text.nv-legend-text {
    font-size: 12px;

}

.custom-select-1 {
    background-color: #fff;
    border: none;
    padding: 4px 10px;
    border: 1px solid #f5f5f5;
    margin-right: 25px !important;
}

.custom-select-1:focus {
    background-color: #fffae6;
}

.radio-fancy input+label {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border-top: 0px solid #ccc;
    border-left: 0px solid #ccc;
    padding: 0 10px 0 40px;
    margin-top: 7px;
}

.radio-fancy input+label:before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #c5d6de;
    position: absolute;
    left: 12px;
    top: 23%;
    margin-top: 2px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.site-content-page-heading {
    font-size: 24px;
    padding-left: 40px;
    line-height: 26px;
}


.competitive-analysis .k-competitive2 Table tr:nth-child(even) td {
    background: #fffae6;
}


.k-competitive2 table td {
    border-color: transparent;
    height: 32px;
}

.card-block {
    padding-top: 30px;
    padding-bottom: 25px;
    margin: 10px 20px;
}

.k-input:focus {
    background-color: #fffae6;
    transition: all .15s ease-in;
}

.k-input {

    transition: all .15s ease-in;
}

.k-autocomplete .k-input, .k-multiselect-wrap, .k-textbox>input {
    border-radius: 3px;
    /*padding: 5px;*/
    background-color: #fffae6;
}

input, input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 3;
}

.m-a-0 {
    margin: 0px 27px !important;
}

.modal-dialog {
    margin: 150px auto;
}


.trash-icon {
    position: relative;
    top: 30px;
    left: 20px;
    font-size: 20px;
}
.bootstrap-table .table thead th, .fixed-table-body .table thead th, .table thead th {
    font-size: 0.8rem;
}
table.table.table-responsive {
  white-space: nowrap;
width: 100%;
display: block;
}
.sortorder{
  color: transparent !important;
}
.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.asc:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

/* Added css for Company List table */
.competitive-analysis .table thead th {
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: normal;
    padding: 15px !important;
    border-right: 1px solid #dedee0;
}

.analysis .table thead th {
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: normal;
  padding: 15px !important;
  border-right: 1px solid #dedee0;
}
.custom-table-grid{
    border:1px solid #dedee0;
}
.custom-table-grid td{
    border-right: 1px solid #dedee0;
}
.custom-table-grid td:nth-child(1):first-child {
    background: #f2f2f2;
    color: #000;
    padding: 15px 0;
    text-align: center;
}
.custom-table-grid thead th:nth-child(1):first-child {
    background: #fff;
    color: #000;
}
i.fa.fa-sort-amount-desc {
    color: #535b6a;
    font-size: 12px;
    float: right;
}
.patch-heading{
  font-size: 17px;

}

.p-t-20{
  padding-top: 20px;

}
.menu{
  display: none;
}
.menu a.item {
  display: block;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -38px;
}
.fa-file-pdf-o,.fa-file-powerpoint-o{
  margin-right: 10px;
}
.dropdown-content a {
    color: black;
    padding: 6px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*for radio button CVM/NPM*/

.radio-group label {
   overflow: hidden;
} .radio-group input {
    /* This is on purpose for accessibility. Using display: hidden is evil.
    This makes things keyboard friendly right out tha box! */
   height: 1px;
   width: 1px;
   position: absolute;
   top: -20px;
   border-radius:5px;
} .radio-group .not-active  {
   color: #000 !important;
   border-color: #357ebd !important;
   background-color: #eee !important;
   border-radius:5px;
}
/*============================================== Styling By Designer Ends (11-04-2017) ==============================================*/
